@using ApexCharts
@using ExpenseTrackerWebApp.Features.SharedKernel.UserPreferences.Commands
@using ExpenseTrackerWebApp.Features.SharedKernel.UserPreferences.Queries
@using MediatR
@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor
@using ExpenseTrackerWebApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IApexChartService ApexChartService
@inject ICurrentUserService CurrentUserService
@inject ISender Mediator
@inject AuthenticationStateProvider AuthenticationStateProvider

<MudPopoverProvider />
<MudDialogProvider /> 
<MudSnackbarProvider />
<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />

<MudLayout>
    @if (IsLoggedIn)
    {
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start"
                OnClick="@((e) => DrawerToggle())" />
            <MudSpacer />
            <MudSwitch @bind-Value="_isDarkMode" Color="MudBlazor.Color.Primary" Class="ma-4" T="bool" Label="Dark Mode"
                @bind-Value:after="this.ThemeChanged" />
            <MudMenu AnchorOrigin="Origin.BottomLeft" Icon="@Icons.Material.Filled.AccountCircle">
                <ActivatorContent>
                    <MudAvatar Color="MudBlazor.Color.Primary">
                        <MudIcon Icon="@Icons.Material.Filled.Person" />
                    </MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    <div class="px-4 py-4">
                        <MudText Typo="Typo.body2">@email</MudText>
                    </div>
                    <MudDivider />
                    <MudMenuItem Icon="@Icons.Material.Filled.Logout" OnClick="Logout" Color="MudBlazor.Color.Error">Logout</MudMenuItem>
                </ChildContent>
            </MudMenu>
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
            <MudDrawerHeader>
                <MudText Typo="Typo.h5" Class="mt-1">Expense Tracker</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
                <MudNavLink Href="transactions?isReoccuring=false"  Icon="@Icons.Material.Filled.CompareArrows">
                    Transactions</MudNavLink>
                <MudNavLink Href="accounts" Icon="@Icons.Material.Filled.AccountBalance">Accounts
                </MudNavLink>
                <MudNavLink Href="categories" Icon="@Icons.Material.Filled.Category">Categories
                </MudNavLink>
                <MudNavLink Href="transactions?isReoccuring=true" Icon="@Icons.Material.Filled.Category">
                    Reoccuring transactions
                </MudNavLink>
                <MudNavLink Href="budgets" Icon="@Icons.Material.Filled.Money">Budgets
                </MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    }
    else
    {
        <MudAppBar Elevation="1">
            <MudText Typo="Typo.h5" Class="mt-1">Expense Tracker</MudText>
        </MudAppBar>
    }

    <MudMainContent>
        @Body
    </MudMainContent>

</MudLayout>
@code {

    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }


    private bool IsLoggedIn = false;
    private string email = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity?.IsAuthenticated ?? false)
        {
            IsLoggedIn = true;
            email = user.Identity.Name ?? "";
        }
        if (IsLoggedIn)
        {
            var userPreferences = await Mediator.Send(new GetUserPreferencesQuery());
            if (userPreferences == null)
            {
                await Mediator.Send(new CreateUserPreferencesCommand { DarkMode = _isDarkMode, UserId = CurrentUserService.GetUserId() });
                userPreferences = await Mediator.Send(new GetUserPreferencesQuery());
            }

            _isDarkMode = userPreferences.DarkMode;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RefreshGraphs();
        }
    }

    private void Logout()
    {
        var theme = _isDarkMode ? "dark" : "light";
        NavigationManager.NavigateTo($"/api/auth/logout", forceLoad: true);
    }


    private bool _isDarkMode;
    private MudTheme _theme = new();

    private async Task ThemeChanged()
    {
        if (IsLoggedIn)
        {
            await Mediator.Send(new EditUserPreferencesCommand { DarkMode = _isDarkMode, UserId = CurrentUserService.GetUserId() });
        }

        await RefreshGraphs();
        StateHasChanged();
    }

    private async Task RefreshGraphs()
    {
        await ApexChartService.SetGlobalOptionsAsync(new ApexChartBaseOptions
        {
            Debug = false,
            Theme = new Theme
            {
                Mode = _isDarkMode ? Mode.Dark : Mode.Light,
                Palette = PaletteType.Palette6
            },
            Chart = new Chart
            {
                Background = "transparent"
            }
        }, true);
    }

    private void RedirectToTransctions(bool reoccuring)
    {
        NavigationManager.NavigateTo($"/transactions?isreoccuring={reoccuring}", forceLoad: true);
    }

}