@page "/transactions"
@using ExpenseTrackerWebApp.Database.Models
@using ExpenseTrackerWebApp.Features.SharedKernel.Transactions.Commands
@using ExpenseTrackerWebApp.Features.SharedKernel.Transactions.Queries
@using ExpenseTrackerWebApp.Services
@using MediatR
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using ExpenseTrackerWebApp.Features.SharedKernel.Components
@using ExpenseTrackerWebApp.Features.SharedKernel.Queries
@using ExpenseTrackerWebApp.Features.Transactions.Dtos
@using ExpenseTrackerWebApp.Features.SharedKernel.Transactions.Components

@inject ISender Mediator   
@inject ICurrentUserService CurrentUserService
@inject SeedDataService SeedDataService
@inject IDialogService DialogService
@inject ISnackbar Snackbar


<PageTitle>@(IsReoccuring ? "Reoccuring Transactions" : "Transactions")</PageTitle>


@if (loading)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudProgressCircular Indeterminate="true" Size="Size.Large" />
    </div>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudPaper Class="pa-6 mt-6" Elevation="15">
            <MudGrid>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudText Typo="Typo.h4">@(IsReoccuring ? "Reoccuring Transactions" : "Transactions")</MudText>
                </MudItem>
                <DynamicContent>
                    <DesktopContent>
                        <MudItem xs="12">
                            <MudPaper Elevation="0" Class="d-flex flex-grow-1 justify-space-between gap-2">
                                <MudPaper Elevation="0" Class="d-flex gap-2">
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenTransactionDialogAsync(null))"
                                        StartIcon="@Icons.Material.Filled.Add">Add
                                    </MudButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => RefreshTransctions(true)"
                                        StartIcon="@Icons.Material.Filled.Refresh">Refresh
                                    </MudButton>
                                </MudPaper>
                                <MudPaper Elevation="0" Class="d-flex gap-2">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@OpenExportDialog"
                                        StartIcon="@Icons.Material.Filled.ImportExport">Export</MudButton>
                                        @{
                                            var email = CurrentUserService.GetUsername();
                                            if (!string.IsNullOrWhiteSpace(email) && email.ToLower() == "sa")
                                            {
                                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@AddTestData"
                                                    StartIcon="@Icons.Material.Filled.Add">Add Test Data
                                                </MudButton>
                                            }
                                        }
                                    
                                </MudPaper>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="12">
                            <MudButton OnClick="OnExpandCollapseClick" Variant="Variant.Outlined">Filters</MudButton>
                        </MudItem>
                        <MudItem xs="12">
                            <MudCollapse Expanded="_expanded" Class="">
                                <TransactionsFilter TransactionsPageStateDto="TransactionsPageStateDto" OnFiltersChanged="@(() => StateHasChanged())" />
                            </MudCollapse>
                        </MudItem>
                    </DesktopContent>
                    <MobileContent>
                        <MudItem xs="12" Class="d-flex justify-center gap-3">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@OpenExportDialog"
                                StartIcon="@Icons.Material.Filled.ImportExport">Export</MudButton>
                            <MudButton OnClick="OnClickShowFilterDialog" Variant="Variant.Outlined">Filters</MudButton>
                        </MudItem>
                        <AddTransactionFab OnClose="@(() => RefreshTransctions(false))" />

                        <MudDialog @ref="_filterDialog">
                            <TitleContent>Filters</TitleContent>
                                <DialogContent>
                                    <TransactionsFilter TransactionsPageStateDto="TransactionsPageStateDto" OnFiltersChanged="@(() => StateHasChanged())" />
                                </DialogContent>
                        </MudDialog>
                    </MobileContent>
                </DynamicContent>

                @if (TransactionsPageStateDto.FilteredTransactions.Count == 0)
                {
                    <MudItem xs="12" Class="d-flex justify-center mt-4">
                        @if (TransactionsPageStateDto.AreAnyFiltersActive)
                        {
                            <MudText Typo="Typo.h5">No transactions found!</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.h5">No transactions created yet!</MudText>
                        }
                    </MudItem>
                }
                else
                {
                    <MudItem xs="12" Class="mt-4">
                        <MudPaper Outlined="true" Elevation="1" Class="border-2">
                            <MudDataGrid T="Transaction" Items="@TransactionsPageStateDto.FilteredTransactions" Virtualize="true"
                                Height="700px">
                                <Columns>
                                    <TemplateColumn Title="Account">
                                        <CellTemplate>
                                            <TextWithIcon Text="@context.Item.Account.Name" Icon="@context.Item.Account.Icon" IconColor="@context.Item.Account.Color" IconSize="Size.Small" TextTypo="Typo.body2"></TextWithIcon>
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <TemplateColumn Title="Category" SortBy="t => t.Category.Name" Sortable="true">
                                        <CellTemplate>
                                            <TextWithIcon Text="@context.Item.Category.Name" Icon="@context.Item.Category.Icon" IconColor="@context.Item.Category.Color" IconSize="Size.Small" TextTypo="Typo.body2"></TextWithIcon>
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <PropertyColumn Property="t => t.Date" Format="dd/MM/yyyy" Title="Date"></PropertyColumn>
                                    <TemplateColumn Title="Amount" SortBy="t => t.Amount" Sortable="true">
                                        <CellTemplate>
                                            <AmountDisplay Balance="context.Item.Amount" />
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <TemplateColumn Title="Tags">
                                        <CellTemplate>
                                            <MudPaper Elevation="0" Class="d-flex gap-1 flex-wrap">
                                                @foreach (var tag in context.Item.TransactionTags)
                                                {
                                                    <MudChip T="string" Style="@($"background-color:{tag.Tag.Color}; color:white;")"
                                                        Size="Size.Small" Variant="Variant.Filled">
                                                        @tag.Tag.Name
                                                    </MudChip>
                                                }
                                            </MudPaper>
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <TemplateColumn>
                                        <CellTemplate>
                                            <MudPaper Elevation="0" Class="d-flex gap-4">
                                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                                                    OnClick="@(() => OpenTransactionDialogAsync(context.Item.Id))">
                                                </MudIconButton>
                                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                                    OnClick="@(() => ConfirmDelete(context.Item.Id))"></MudIconButton>
                                            </MudPaper>
                                        </CellTemplate>
                                    </TemplateColumn>
                                </Columns>
                            </MudDataGrid>
                            <MudItem xs="12" Class="pa-6 pl-0">
                                @{
                                    var balance = TransactionsPageStateDto.FilteredTransactions.Sum(t => t.Amount);
                                }
                                <MudPaper Elevation="0" Class="d-flex gap-2">
                                    <MudText>
                                        Balance:
                                        <AmountDisplay Balance="balance" />
                                    </MudText>
                                </MudPaper>

                            </MudItem>
                        </MudPaper>
                    </MudItem>
                }
            </MudGrid>
        </MudPaper>
    </MudContainer>
}



@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public bool IsReoccuring { get; set; } = false;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    bool loading = true;
    private TransactionsPageStateDto? TransactionsPageStateDto { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        TransactionsPageStateDto = await GetTransactionsPageState();
        loading = false;
    }

    private async Task<TransactionsPageStateDto> GetTransactionsPageState()
    {
        var result = new TransactionsPageStateDto();
        result.Transactions = await Mediator.Send(new GetTransactionsQuery() { UserId = CurrentUserService.GetUserId(), IsReoccuring = IsReoccuring });
        result.FilteredTransactions = result.Transactions.ToList();
        result.Accounts = await Mediator.Send(new GetAccountsQuery() { UserId = CurrentUserService.GetUserId() });
        result.Categories = await Mediator.Send(new GetCategoriesQuery() { UserId = CurrentUserService.GetUserId() });
        result.FilteredCategories = result.Categories.ToList();
        result.Tags = await Mediator.Send(new GetTagsQuery() { UserId = CurrentUserService.GetUserId() });
        return result;
    }

    private async Task OpenTransactionDialogAsync(int? transaction_id)
    {
        if (TransactionsPageStateDto.Categories.Count == 0)
        {
            Snackbar.Add("No categories found! Create some then try again!", Severity.Error);
            return;
        }

        if (TransactionsPageStateDto.Accounts.Count == 0)
        {
            Snackbar.Add("No accounts found! Create some then try again!", Severity.Error);
            return;
        }

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };
        var parameters = new DialogParameters<TransactionDialog>
            {
                { x => x.TransactionId, transaction_id },
                { x => x.Reoccuring, IsReoccuring }
            };

        var dialog = await DialogService.ShowAsync<TransactionDialog>(title: "Simple Dialog", parameters, options);
        var result = await dialog.Result;
        var transactions = await Mediator.Send(new GetTransactionsQuery() { UserId = CurrentUserService.GetUserId(), IsReoccuring = IsReoccuring });
        TransactionsPageStateDto.RefreshTransactions(transactions);
    }

    private async Task ConfirmDelete(int transaction_id)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message, "Are you sure you want to delete the transaction? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "Warning", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await Mediator.Send(new DeleteTransactionCommand() { Id = transaction_id, UserId = CurrentUserService.GetUserId() });
            Snackbar.Add("Transaction succesfully deleted! ", Severity.Success);
            TransactionsPageStateDto.RemoveTransactions(transaction_id);
        }
    }

    private async Task AddTestData()
    {
        await SeedDataService.SeedDummyDataAsync();
        var transactions = await Mediator.Send(new GetTransactionsQuery() { UserId = CurrentUserService.GetUserId(), IsReoccuring = IsReoccuring });
        TransactionsPageStateDto.RefreshTransactions(transactions);
    }

    private async Task OpenExportDialog()
    {
        if (TransactionsPageStateDto.Transactions.Count == 0)
        {
            Snackbar.Add("No transactions to export!", Severity.Error);
            return;
        }

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };

        var parameters = new DialogParameters<ExportDialog>
        {
        };

        var dialog = await DialogService.ShowAsync<ExportDialog>(title: "", parameters, options);
    }

    private async Task RefreshTransctions(bool showMessage = false)
    {
        var transactions = await Mediator.Send(new GetTransactionsQuery() { UserId = CurrentUserService.GetUserId(), IsReoccuring = IsReoccuring });
        TransactionsPageStateDto.RefreshTransactions(transactions);
        if(showMessage)
        {
            Snackbar.Add("Transactions were refreshed!", Severity.Success);
        }
    }

    private MudDialog _filterDialog;
    bool _expanded = false;

    private void OnExpandCollapseClick() {
        _expanded = !_expanded;
    }

    private async Task OnClickShowFilterDialog(){
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.ExtraSmall
        };

        await _filterDialog.ShowAsync("Filters", options);
    }

}