@page "/categories"
@using ExpenseTrackerWebApp.Components.Pages.Dialogs
@using ExpenseTrackerWebApp.Database.Models
@using ExpenseTrackerWebApp.Services
@using Microsoft.AspNetCore.Authorization
@using MudBlazor.Extensions
@using System.Globalization
@using ExpenseTrackerWebApp.Components.MyComponents
@inject TransactionService TransactionService
@inject CategoryService CategoryService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>Categories</PageTitle>

@if (loading)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudProgressCircular Indeterminate="true" Size="Size.Large" />
    </div>
}
else
{
    @if(MyCategories != null){
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudPaper Class="pa-6 mt-6" Elevation="15">
                <MudGrid>
                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudText Typo="Typo.h4">Categories</MudText>
                    </MudItem>
                    <MudItem xs="12" Class="d-flex justify-center gap-5 mb-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenCategoryDialogAsync(null))" StartIcon="@Icons.Material.Filled.Add">Add</MudButton>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTabs @ref="tabs" Elevation="0" ApplyEffectsToContainer="true" PanelClass="pa-6" Centered="true">
                            <MudTabPanel Text="Expense" > 
                                @if(MyCategories.Count(c => c.Type == TransactionType.Expense) == 0){
                                    <MudItem xs="12" Class="d-flex justify-center mt-4">
                                        <MudText Typo="Typo.h5">No expense categories found!</MudText>
                                    </MudItem>
                                }
                                else{
                                    <MudPaper Elevation="0">
                                        <MudGrid>
                                            @foreach(var category in MyCategories.Where(c => c.Type == TransactionType.Expense)){
                                                <MudItem xs="12" md="6">
                                                    <MudCard Outlined="true" Class="pa-2 border-2">
                                                        <MudCardHeader>
                                                            <MudText Typo="Typo.h6">@category.Name</MudText>
                                                        </MudCardHeader>
                                                        <MudCardContent>
                                                        @if(category.Transactions != null){
                                                            <MudText Typo="Typo.body1">Total transactions: @category.Transactions.Count</MudText>
                                                                <MudPaper Elevation="0" Class="d-flex gap-2">
                                                                    <MudText Typo="Typo.body1">Total expenses: </MudText>
                                                                    <AmountDisplay Balance="@category.Transactions.Sum(t => t.Amount)" FontSize="Typo.body1" />
                                                                </MudPaper>
                                                        }
                                                        </MudCardContent>
                                                        <MudCardActions>
                                                        <MudPaper Class="pa-1 d-flex flex-grow-1 justify-space-between mt-3" Elevation="0">
                                                            <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="@(() => OpenCategoryDialogAsync(category.Id))"></MudIconButton>
                                                            <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => ConfirmDelete(category.Id))"></MudIconButton>
                                                        </MudPaper>
                                                        </MudCardActions>
                                                    </MudCard>
                                                </MudItem>
                                                }
                                        </MudGrid>
                                    </MudPaper>
                                    
                                }
                                </MudTabPanel>
                            
                            <MudTabPanel Text="Income">
                                @if(MyCategories.Count(c => c.Type == TransactionType.Income) == 0){
                                    <MudItem xs="12" Class="d-flex justify-center mt-4">
                                        <MudText Typo="Typo.h5">No income categories found!</MudText>
                                    </MudItem>
                                }
                                else{
                                    <MudPaper Elevation="0">
                                        <MudGrid>
                                                @foreach(var category in MyCategories.Where(c => c.Type == TransactionType.Income)){
                                                    <MudItem xs="12" md="6">
                                                        <MudCard Outlined="true" Class="pa-2 border-2">
                                                            <MudCardHeader>
                                                                <MudText Typo="Typo.h6">@category.Name</MudText>
                                                            </MudCardHeader>
                                                            <MudCardContent>
                                                            @if(category.Transactions != null){
                                                                <MudText Typo="Typo.body1">Total transactions: @category.Transactions.Count</MudText>
                                                                <MudPaper Elevation="0" Class="d-flex gap-2">
                                                                    <MudText Typo="Typo.body1">Total income: </MudText>
                                                                    <AmountDisplay Balance="@category.Transactions.Sum(t => t.Amount)" FontSize="Typo.body1" />
                                                                </MudPaper>
                                                                
                                                            }
                                                            </MudCardContent>
                                                            <MudCardActions>
                                                            <MudPaper Class="pa-1 d-flex flex-grow-1 justify-space-between mt-3" Elevation="0">
                                                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" OnClick="@(() => OpenCategoryDialogAsync(category.Id))"></MudIconButton>
                                                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error" OnClick="@(() => ConfirmDelete(category.Id))"></MudIconButton>
                                                            </MudPaper>
                                                            </MudCardActions>
                                                        </MudCard>
                                                    </MudItem>
                                                }
                                        </MudGrid>
                                    </MudPaper>
                                }
                                </MudTabPanel>
                        </MudTabs>
                    </MudItem>
                    
                </MudGrid>
            </MudPaper>
        </MudContainer>
    }
}


@code {
    private MudTabs tabs;
    private List<Category> MyCategories {get; set;}
    private TransactionType? transactionType;


    bool loading = true;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await RefreshPage();
        loading = false;
    }

    private async Task OpenCategoryDialogAsync(int? category_id)
    {
        var options = new DialogOptions { 
            CloseOnEscapeKey = true, 
            NoHeader=false, 
            CloseButton=true, 
            MaxWidth=MaxWidth.Medium  
        };
        var parameters = new DialogParameters<CategoryDialog>
        {
            { x => x.CategoryId, category_id },
            { x => x.Type, tabs.ActivePanelIndex == 0 ? TransactionType.Expense : TransactionType.Income }
        };

        var dialog = await DialogService.ShowAsync<CategoryDialog>(title: "", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await RefreshPage();
            StateHasChanged();
        }
    }

    private async Task ConfirmDelete(int category_id)
    {
        var options = new DialogOptions { 
            CloseOnEscapeKey = true, 
        };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message,  "Are you sure you want to delete the category? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await CategoryService.DeleteAsync(category_id);
            Snackbar.Add("Category succesfully deleted! ", Severity.Success);
            await RefreshPage();
            StateHasChanged();
        }
    }

    async Task RefreshPage(){
        MyCategories = await CategoryService.GetAllWithTransactionsAsync();
        if(transactionType is not null){
            MyCategories = MyCategories.Where(c => c.Type == transactionType).ToList();
        }
    }
}