@page "/categories"
@using ExpenseTrackerWebApp.Components.Pages.Dialogs
@using ExpenseTrackerWebApp.Database.Models
@using ExpenseTrackerWebApp.Services
@using Microsoft.AspNetCore.Authorization
@using MudBlazor.Extensions
@using System.Globalization
@using ExpenseTrackerWebApp.Components.MyComponents
@inject TransactionService TransactionService
@inject CategoryService CategoryService
@inject IDialogService DialogService
@inject ISnackbar Snackbar

<PageTitle>Categories</PageTitle>

@if (loading)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudProgressCircular Indeterminate="true" Size="Size.Large" />
    </div>
}
else
{
    @if(MyCategories != null){
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudPaper Class="pa-6 mt-6" Elevation="15">
                <MudGrid>
                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudText Typo="Typo.h4">Categories</MudText>
                    </MudItem>
                    <MudItem xs="12" Class="d-flex justify-center gap-5 mb-4">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenCategoryDialogAsync(null))" StartIcon="@Icons.Material.Filled.Add">Add</MudButton>
                    </MudItem>
                    <MudHidden xs="12" Breakpoint="Breakpoint.SmAndDown">
                        @RenderCategoryContent(false)
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
                        @RenderCategoryContent(true)
                    </MudHidden>
                </MudGrid>
            </MudPaper>
        </MudContainer>
    }

    <MudHidden Breakpoint="Breakpoint.SmAndDown" Invert="true">
        <style>
            .mud-tab {
                display: flex;
                min-width: 100px !important;
                flex-direction: column-reverse;
            }
        </style>
    </MudHidden>

}


@code {
    private MudTabs? tabs;
    private List<Category>? MyCategories { get; set; }
    private TransactionType? transactionType;

    bool loading = true;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await RefreshPage();
        loading = false;
    }

    private async Task OpenCategoryDialogAsync(int? category_id)
    {
        var options = new DialogOptions { 
            CloseOnEscapeKey = true, 
            NoHeader=false, 
            CloseButton=true, 
            MaxWidth=MaxWidth.Medium  
        };
        var parameters = new DialogParameters<CategoryDialog>
        {
            { x => x.CategoryId, category_id },
            { x => x.Type, tabs?.ActivePanelIndex == 0 ? TransactionType.Expense : TransactionType.Income }
        };

        var dialog = await DialogService.ShowAsync<CategoryDialog>(title: "", parameters, options);
        var result = await dialog.Result;
        if (result != null && !result.Canceled)
        {
            await RefreshPage();
            StateHasChanged();
        }
    }

    private async Task ConfirmDelete(int category_id)
    {
        var options = new DialogOptions { 
            CloseOnEscapeKey = true, 
        };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message,  "Are you sure you want to delete the category? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "", parameters, options);
        var result = await dialog.Result;
        if (result != null && !result.Canceled)
        {
            await CategoryService.DeleteAsync(category_id);
            Snackbar.Add("Category succesfully deleted! ", Severity.Success);
            await RefreshPage();
            StateHasChanged();
        }
    }

    async Task RefreshPage(){
        MyCategories = await CategoryService.GetAllWithTransactionsAsync();
        if(transactionType is not null){
            MyCategories = MyCategories.Where(c => c.Type == transactionType).ToList();
        }
    }

    private RenderFragment RenderCategoryContent(bool mobile) =>
        @<MudItem xs="12">
            <MudTabs @ref="tabs" Elevation="0" ApplyEffectsToContainer="true" PanelClass="pa-6" Centered="true">
                <MudTabPanel Text=@(mobile ? "" : "Expense") Icon="@Icons.Material.Filled.TrendingDown">
                    @RenderCategoryContent(TransactionType.Expense)
                </MudTabPanel>
                <MudTabPanel Text=@(mobile ? "" : "Income") Icon="@Icons.Material.Filled.TrendingUp">
                    @RenderCategoryContent(TransactionType.Income)
                </MudTabPanel>
            </MudTabs>
        </MudItem>;

    private RenderFragment RenderCategoryContent(TransactionType type) => @<text>
        @if(MyCategories == null || MyCategories.Count(c => c.Type == type) == 0)
        {
            <MudItem xs="12" Class="d-flex justify-center mt-4">
                <MudText Typo="Typo.h5">No @(type == TransactionType.Expense ? "expense" : "income") categories found!</MudText>
            </MudItem>
        }
        else
        {
            <MudPaper Elevation="0">
                <MudGrid>
                    @foreach(var category in MyCategories.Where(c => c.Type == type))
                    {
                        <MudItem xs="12" md="6">
                            <CategoryCard category="@category" OpenCategoryDialogAsync="OpenCategoryDialogAsync" ConfirmDelete="ConfirmDelete"></CategoryCard>
                        </MudItem>
                    }
                </MudGrid>
            </MudPaper>
        }
    </text>;
}
