@page "/"
@using ApexCharts
@using ExpenseTrackerWebApp.Components.Pages.Dialogs
@using ExpenseTrackerWebApp.Database.Models
@using ExpenseTrackerWebApp.Dtos
@using ExpenseTrackerWebApp.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor.Extensions
@using System.Globalization
@using ExpenseTrackerWebApp.Components.MyComponents

@inject TransactionService TransactionService
@inject CategoryService CategoryService
@inject AccountService AccountService
@inject IDialogService DialogService
@inject SeedDataService SeedDataService
@inject DashboardService DashboardService

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<PageTitle>Dashboard</PageTitle>

@if (loading)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudProgressCircular Indeterminate="true" Size="MudBlazor.Size.Large" />
    </div>
}
else
{
    <MudContainer>
        <MudPaper Class="pa-6 mt-6" Elevation="0">
            <MudGrid>
                <MudItem xs="12" md="4">
                    <MudPaper Elevation="5" Class="pa-4 d-flex flex-column gap-4">
                        <MudText Typo="Typo.h6">
                            Balance
                        </MudText>
                        <AmountDisplay Balance="@dashboardSummary.Balance" FontSize="Typo.h4" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudPaper Elevation="5" Class="pa-4 d-flex flex-column gap-4">
                        <MudText Typo="Typo.h6">
                            Income this month
                        </MudText>
                        <MudText Typo="Typo.h4" Color="MudBlazor.Color.Success">
                            @dashboardSummary.IncomeThisMonth.ToString(format: "C2")
                        </MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudPaper Elevation="5" Class="pa-4 d-flex flex-column gap-4">
                        <MudText Typo="Typo.h6">
                            Expenses this month
                        </MudText>
                        <MudText Typo="Typo.h4" Color="MudBlazor.Color.Error">
                            @dashboardSummary.ExpensesThisMonth.ToString(format: "C2")
                        </MudText>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="6" Class="d-flex">
                    <MudPaper Elevation="5" Class="pa-4 flex-grow-1">
                        <MudText Typo="Typo.h6">
                            Expenses and Income last 6 months
                        </MudText>
                        <ApexChart TItem="CumulativeData">

                            <ApexPointSeries TItem="CumulativeData" Items="dashboardSummary.CumulativeIncomePerMonth" Name="Income"
                                XValue="@(e => e.TimePeriod)" YValue="@(e => e.Amount)"
                                SeriesType="SeriesType.Bar" />

                            <ApexPointSeries TItem="CumulativeData" Items="dashboardSummary.CumulativeExpensesPerMonth" Name="Expenses"
                                XValue="@(e => e.TimePeriod)" YValue="@(e => e.Amount)"
                                SeriesType="SeriesType.Bar" />
                        </ApexChart>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="6" Class="d-flex">
                    <MudPaper Elevation="5" Class="pa-4 flex-grow-1">
                        <MudText Typo="Typo.h6">
                            Top Expenses last 6 months
                        </MudText>
                        <ApexChart TItem="CategoryData">
                            <ApexPointSeries TItem="CategoryData" Items="dashboardSummary.TopExpenseCategories" SeriesType="SeriesType.Donut"
                                Name="Top Expenses by Category" XValue="@(e => e.Category)" YValue="@(e => e.Amount)">
                            </ApexPointSeries>
                        </ApexChart>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="5" Class="pa-4">
                        <MudText Typo="Typo.h6">
                            Latest transactions
                        </MudText>
                        <MudDataGrid T="Transaction" Items="@dashboardSummary.RecentTransactions" Class="mt-4">
                            <Columns>
                                <PropertyColumn Property="t => t.Account.Name" Title="Account"></PropertyColumn>
                                <PropertyColumn Property="t => t.Category.Name" Title="Category"></PropertyColumn>
                                <PropertyColumn Property="t => t.Date" Format="dd//MM/yyyy" Title="Date"></PropertyColumn>
                                <TemplateColumn Title="Amount">
                                    <CellTemplate>
                                        <AmountDisplay Balance="context.Item.Amount" />
                                    </CellTemplate>
                                </TemplateColumn>
                            </Columns>
                        </MudDataGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudContainer>
}
@code {

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }
    private string username = "";
    private ApexChartOptions<CumulativeData> incomeExpensesLastSixMonthsChartOptions = new()
    {
        Xaxis = new XAxis
        {
            Type = XAxisType.Datetime,
            Labels = new XAxisLabels
            {
                Format = "MMM"
            }
        },
        Chart = new Chart()
        {
            Toolbar = new Toolbar
            {
                Show = false
            }, Zoom = new Zoom
            {
                Enabled = false
            }
        }, 
        Tooltip = new Tooltip(){
            X = new TooltipX(){
                Format = "MMM yyyy"
            }
        }
    };
    bool loading = true;
    private DashboardSummary dashboardSummary = new DashboardSummary();
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        dashboardSummary = await DashboardService.GetDashboardSummaryAsync();
        loading = false;
    }

}