@page "/transactions"
@using ExpenseTrackerWebApp.Components.MyComponents
@using ExpenseTrackerWebApp.Components.Pages.Dialogs
@using ExpenseTrackerWebApp.Database.Models
@using ExpenseTrackerWebApp.Dtos
@using ExpenseTrackerWebApp.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Identity.Client
@using MudBlazor.Extensions
@using System.Globalization
@inject TransactionService TransactionService
@inject CategoryService CategoryService
@inject AccountService AccountService
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject SeedDataService SeedDataService

<PageTitle>@(Reoccuring ? "Reoccuring Transactions" : "Transactions")</PageTitle>


@if (loading)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudProgressCircular Indeterminate="true" Size="Size.Large" />
    </div>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Large">
        <MudPaper Class="pa-6 mt-6" Elevation="15">
            <MudGrid>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudText Typo="Typo.h4">@(Reoccuring ? "Reoccuring Transactions" : "Transactions")</MudText>
                </MudItem>
                <DynamicContent>
                    <DesktopContent>
                        <MudItem xs="12">
                            <MudPaper Elevation="0" Class="d-flex flex-grow-1 justify-space-between gap-2">
                                <MudPaper Elevation="0" Class="d-flex gap-2">
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenTransactionDialogAsync(null))"
                                        StartIcon="@Icons.Material.Filled.Add">Add
                                    </MudButton>
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="() => RefreshTransctions(true)"
                                        StartIcon="@Icons.Material.Filled.Refresh">Refresh
                                    </MudButton>
                                </MudPaper>
                                <MudPaper Elevation="0" Class="d-flex gap-2">
                                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@OpenExportDialog"
                                        StartIcon="@Icons.Material.Filled.ImportExport">Export</MudButton>
                                    @if (!string.IsNullOrWhiteSpace(username) && username.ToLower() == "sa")
                                    {
                                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@AddTestData"
                                            StartIcon="@Icons.Material.Filled.Add">Add Test Data
                                        </MudButton>
                                    }
                                </MudPaper>
                            </MudPaper>
                        </MudItem>
                        <MudItem xs="12">
                            <MudButton OnClick="OnExpandCollapseClick" Variant="Variant.Outlined">Filters</MudButton>
                        </MudItem>
                        <MudItem xs="12">
                            <MudCollapse Expanded="_expanded" Class="">
                                <TransactionsFilter TransactionsDto="TransactionsDto" OnFiltersChanged="@(() => StateHasChanged())" />
                            </MudCollapse>
                        </MudItem>
                    </DesktopContent>
                    <MobileContent>
                        <MudItem xs="12" Class="d-flex justify-center gap-3">
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@OpenExportDialog"
                                StartIcon="@Icons.Material.Filled.ImportExport">Export</MudButton>
                            <MudButton OnClick="OnClickShowFilterDialog" Variant="Variant.Outlined">Filters</MudButton>
                        </MudItem>
                        <AddTransactionFab OnClose="@(() => RefreshTransctions(false))" />

                        <MudDialog @ref="_filterDialog">
                            <TitleContent>Filters</TitleContent>
                                <DialogContent>
                                    <TransactionsFilter TransactionsDto="TransactionsDto" OnFiltersChanged="@(() => StateHasChanged())" />
                                </DialogContent>
                        </MudDialog>
                    </MobileContent>
                </DynamicContent>

                @if (TransactionsDto.FilteredTransactions.Count == 0)
                {
                    <MudItem xs="12" Class="d-flex justify-center mt-4">
                        @if (TransactionsDto.AreAnyFiltersActive)
                        {
                            <MudText Typo="Typo.h5">No transactions found!</MudText>
                        }
                        else
                        {
                            <MudText Typo="Typo.h5">No transactions created yet!</MudText>
                        }
                    </MudItem>
                }
                else
                {
                    <MudItem xs="12" Class="mt-4">
                        <MudPaper Outlined="true" Elevation="1" Class="border-2">
                            <MudDataGrid T="Transaction" Items="@TransactionsDto.FilteredTransactions" Virtualize="true"
                                Height="700px">
                                <Columns>
                                    <TemplateColumn Title="Account">
                                        <CellTemplate>
                                            <MudPaper Elevation="0" Class="d-flex gap-2 align-center">
                                                <AccountName Account="@context.Item.Account"></AccountName>
                                            </MudPaper>
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <TemplateColumn Title="Category" SortBy="t => t.Category.Name" Sortable="true">
                                        <CellTemplate>
                                            <CategoryName category="@context.Item.Category"></CategoryName>
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <PropertyColumn Property="t => t.Date" Format="dd/MM/yyyy" Title="Date"></PropertyColumn>
                                    <TemplateColumn Title="Amount" SortBy="t => t.Amount" Sortable="true">
                                        <CellTemplate>
                                            <AmountDisplay Balance="context.Item.Amount" />
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <TemplateColumn Title="Tags">
                                        <CellTemplate>
                                            <MudPaper Elevation="0" Class="d-flex gap-1 flex-wrap">
                                                @foreach (var tag in context.Item.TransactionTags)
                                                {
                                                    <MudChip T="string" Style="@($"background-color:{tag.Tag.Color}; color:white;")"
                                                        Size="Size.Small" Variant="Variant.Filled">
                                                        @tag.Tag.Name
                                                    </MudChip>
                                                }
                                            </MudPaper>
                                        </CellTemplate>
                                    </TemplateColumn>
                                    <TemplateColumn>
                                        <CellTemplate>
                                            <MudPaper Elevation="0" Class="d-flex gap-4">
                                                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                                                    OnClick="@(() => OpenTransactionDialogAsync(context.Item.Id))">
                                                </MudIconButton>
                                                <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                                    OnClick="@(() => ConfirmDelete(context.Item.Id))"></MudIconButton>
                                            </MudPaper>
                                        </CellTemplate>
                                    </TemplateColumn>
                                </Columns>
                            </MudDataGrid>
                            <MudItem xs="12" Class="pa-6 pl-0">
                                @{
                                    var balance = TransactionsDto.FilteredTransactions.Sum(t => t.Amount);
                                }
                                <MudPaper Elevation="0" Class="d-flex gap-2">
                                    <MudText>
                                        Balance:
                                        <AmountDisplay Balance="balance" />
                                    </MudText>
                                </MudPaper>

                            </MudItem>
                        </MudPaper>
                    </MudItem>
                }
            </MudGrid>
        </MudPaper>
    </MudContainer>
}



@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public bool Reoccuring { get; set; } = false;

    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private string username = "";
    bool loading = true;
    private TransactionsDto? TransactionsDto { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        TransactionsDto = await TransactionService.GetTransactionsDto(Reoccuring);

        if (authenticationState is not null)
        {
            var authState = await authenticationState;
            var user = authState?.User;

            if (user?.Identity is not null && user.Identity.IsAuthenticated)
            {
                username = user.Identity.Name ?? "";
            }
        }
        loading = false;
    }
    private async Task OpenTransactionDialogAsync(int? transaction_id)
    {
        if (TransactionsDto.Categories.Count == 0)
        {
            Snackbar.Add("No categories found! Create some then try again!", Severity.Error);
            return;
        }

        if (TransactionsDto.Accounts.Count == 0)
        {
            Snackbar.Add("No accounts found! Create some then try again!", Severity.Error);
            return;
        }

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };
        var parameters = new DialogParameters<TransactionDialog>
            {
                { x => x.TransactionId, transaction_id },
                { x => x.Reoccuring, Reoccuring }
            };

        var dialog = await DialogService.ShowAsync<TransactionDialog>(title: "Simple Dialog", parameters, options);
        var result = await dialog.Result;
        var transactions = await TransactionService.GetAllAsync(Reoccuring);
        TransactionsDto.RefreshTransactions(transactions);
    }

    private async Task ConfirmDelete(int transaction_id)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message, "Are you sure you want to delete the transaction? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "Warning", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await TransactionService.DeleteAsync(transaction_id);
            Snackbar.Add("Transaction succesfully deleted! ", Severity.Success);
            TransactionsDto.RemoveTransactions(transaction_id);
        }
    }

    private async Task AddTestData()
    {
        await SeedDataService.SeedDummyDataAsync();
        var transactions = await TransactionService.GetAllAsync(Reoccuring);
        TransactionsDto.RefreshTransactions(transactions);
    }

    private async Task OpenExportDialog()
    {
        if (TransactionsDto.Transactions.Count == 0)
        {
            Snackbar.Add("No transactions to export!", Severity.Error);
            return;
        }

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };

        var parameters = new DialogParameters<ExportDialog>
        {
        };

        var dialog = await DialogService.ShowAsync<ExportDialog>(title: "", parameters, options);
    }

    private async Task RefreshTransctions(bool showMessage = false)
    {
        var transactions = await TransactionService.GetAllAsync(Reoccuring);
        TransactionsDto.RefreshTransactions(transactions);
        if(showMessage)
        {
            Snackbar.Add("Transactions were refreshed!", Severity.Success);
        }
    }

    private MudDialog _filterDialog;
    bool _expanded = false;

    private void OnExpandCollapseClick() {
        _expanded = !_expanded;
    }

    private async Task OnClickShowFilterDialog(){
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.ExtraSmall
        };

        await _filterDialog.ShowAsync("Filters", options);
    }

}