@rendermode InteractiveWebAssembly
@using ApexCharts
@using ExpenseTrackerSharedCL.Features.UserPreferences.Dtos
@using ExpenseTrackerSharedCL.Features.UserPreferences.Services
@using Microsoft.AspNetCore.Components.Routing
@using MudBlazor
@using Microsoft.AspNetCore.Components.Authorization
@using System.Threading.Tasks
@inject NavigationManager NavigationManager
@inject IServiceProvider ServiceProvider
@inject IUserPreferenceService UserPreferenceService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider @bind-IsDarkMode="@UserPreference.DarkMode" Theme="_theme" />

<MudAppBar Elevation="1">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start"
                    OnClick="@((e) => DrawerToggle())" />
    <MudSpacer />
    <MudSwitch @bind-Value="UserPreference.DarkMode" Color="MudBlazor.Color.Primary" Class="ma-4" T="bool" Label="Dark Mode"
                @bind-Value:after="this.ThemeChanged" />
    <MudMenu AnchorOrigin="Origin.BottomLeft" Icon="@Icons.Material.Filled.AccountCircle">
        <ActivatorContent>
            <MudAvatar Color="MudBlazor.Color.Primary">
                <MudIcon Icon="@Icons.Material.Filled.Person" />
            </MudAvatar>
        </ActivatorContent>
        <ChildContent>
            <div class="px-4 py-4">
                <MudText Typo="Typo.body2">@email</MudText>
            </div>
            <MudDivider />
            <MudMenuItem Icon="@Icons.Material.Filled.Logout" OnClick="Logout" Color="MudBlazor.Color.Error">Logout</MudMenuItem>
        </ChildContent>
    </MudMenu>
</MudAppBar>
<MudDrawer @bind-Open="_drawerOpen" Elevation="2">
    <MudDrawerHeader>
        <MudText Typo="Typo.h5" Class="mt-1">Expense Tracker</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard">
            Dashboard
        </MudNavLink>
        <MudNavLink Href="transactions?isReoccuring=false" Icon="@Icons.Material.Filled.CompareArrows" ForceLoad="true">
            Transactions
        </MudNavLink>
        <MudNavLink Href="accounts" Icon="@Icons.Material.Filled.AccountBalance" ForceLoad="true">
            Accounts
        </MudNavLink>
        <MudNavLink Href="categories" Icon="@Icons.Material.Filled.Category">
            Categories
        </MudNavLink>
        <MudNavLink Href="transactions?isReoccuring=true" Icon="@Icons.Material.Filled.Category" ForceLoad="true">
            Reoccuring transactions
        </MudNavLink>
        <MudNavLink Href="budgets" Icon="@Icons.Material.Filled.Money">
            Budgets
        </MudNavLink>
    </MudNavMenu>
</MudDrawer>

<script>

    function syncDrawer(drawerOpen){
        console.log('sync drawer called');
        console.log(`drawerOpen: ${drawerOpen}`);
        const mainContent = document.querySelector('.mud-main-content');
        const appBar = document.querySelector('.mud-appbar');

        if(drawerOpen){
            mainContent.style.marginLeft = '';
            appBar.style.marginLeft = '';
            appBar.style.width = '';
        }
        else{
            mainContent.style.marginLeft = '0';
            appBar.style.marginLeft = '0';
            appBar.style.width = '100%';
        }
    }
</script>
@code {

    private bool _drawerOpen = true;
    private IApexChartService? apexChartService;
    private string email = "";

    [PersistentState]
    public UserPreferenceDto UserPreference{ get; set; } = new();

    private MudTheme _theme = new();

    protected override async Task OnInitializedAsync()
    {
        apexChartService = ServiceProvider.GetService<IApexChartService>();
        if (OperatingSystem.IsBrowser())
        {
            return;
        }
        UserPreference = new UserPreferenceDto()
        {
            DarkMode = false
        };

        var userPreferencesResult = await UserPreferenceService.GetUserPreferencesAsync();
        if (!userPreferencesResult.IsSuccess)
        {
            Snackbar.Add("Failed to retrive user preferences! ", Severity.Error);
            return;
        }

        if (userPreferencesResult.Data != null)
        {
            UserPreference = userPreferencesResult.Data;
            return;
        }

        var setDefaultResult = await UserPreferenceService.CreateDefaultUsrPreferencesAsync();
        if (!setDefaultResult.IsSuccess)
        {
            Snackbar.Add("Failed to set default user preferences! ", Severity.Error);
            return;
        }

        userPreferencesResult = await UserPreferenceService.GetUserPreferencesAsync();
        if (!userPreferencesResult.IsSuccess)
        {
            Snackbar.Add("Failed to retrive user preferences! ", Severity.Error);
            return;
        }

        UserPreference = userPreferencesResult.Data!;
    }


    async Task DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        await JSRuntime.InvokeVoidAsync("syncDrawer", _drawerOpen);

    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RefreshGraphs();
        }
    }

    private void Logout()
    {
        var theme = UserPreference.DarkMode ? "dark" : "light";
        NavigationManager.NavigateTo($"/api/auth/logout", forceLoad: true);
    }


    private async Task ThemeChanged()
    {
        var result = await UserPreferenceService.UpdateUserPreferencesAsync(UserPreference);
        await RefreshGraphs();
        StateHasChanged();
    }

    private async Task RefreshGraphs()
    {
        if(apexChartService == null)
        {
            return;
        }

        await apexChartService.SetGlobalOptionsAsync(new ApexChartBaseOptions
        {
            Debug = false,
            Theme = new Theme
            {
                Mode = UserPreference.DarkMode ? Mode.Dark : Mode.Light,
                Palette = PaletteType.Palette6
            },
            Chart = new Chart
            {
                Background = "transparent"
            }
        }, true);
    }


}