@page "/budgets"
@using ExpenseTrackerWebApp.Database.Models
@using ExpenseTrackerWebApp.Features.Budgets.Commands
@using ExpenseTrackerWebApp.Features.Budgets.Dtos
@using ExpenseTrackerWebApp.Features.Budgets.Queries
@using ExpenseTrackerWebApp.Features.SharedKernel.Queries
@using ExpenseTrackerWebApp.Services
@using MediatR
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.VisualBasic
@using MudBlazor
@using MudBlazor.Extensions
@using System.Globalization
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Web
@using ExpenseTrackerWebApp.Features.SharedKernel.Components
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject ISender Mediator   
@inject ICurrentUserService CurrentUserService

<PageTitle>Budgets</PageTitle>

@if (loading)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudProgressCircular Indeterminate="true" Size="Size.Large" />
    </div>
}
else
{
    @if(MyBudgets != null){
        <MudContainer MaxWidth="MaxWidth.Medium">
            <MudPaper Class="pa-6 mt-6" Elevation="15">
                <MudGrid>
                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudText Typo="Typo.h4">Budgets</MudText>
                    </MudItem>
                    <DynamicContent>
                        <DesktopContent>
                            <MudItem xs="12" Class="d-flex justify-center gap-5 mb-4">
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Add" OnClick="@(() => OpenBudgetDialogAsync(null))">Add</MudButton>
                            </MudItem>
                        </DesktopContent>
                        <MobileContent>
                            <FabButton Text="Add" IconClass="@Icons.Material.Filled.Add" OnClick="@(() => OpenBudgetDialogAsync(null))" />
                        </MobileContent>
                    </DynamicContent>
                    @if(MyBudgets == null || MyBudgets.Count == 0)
                    {
                        <MudItem xs="12" Class="d-flex justify-center mt-4">
                            <MudText Typo="Typo.h5">No budgets found!</MudText>
                        </MudItem>
                    }
                    else
                    {
                        @foreach(var budget in MyBudgets)
                        {
                            <MudItem xs="12" md="6">
                                <BudgetCard 
                                    Budget="@budget"
                                    OnEdit="OpenBudgetDialogAsync"
                                    OnDelete="ConfirmDelete">
                                    <Content>
                                        <MudProgressLinear Value="@(budget.Progress)" Color="@budget.ProgressColor"></MudProgressLinear>
                                        <MudText Typo="Typo.body2">Spent: $@budget.Spent.ToString("F2") / $@budget.Amount?.ToString("F2")</MudText>
                                    </Content>
                                </BudgetCard>
                            </MudItem>
                        }
                    }
                </MudGrid>
            </MudPaper>
        </MudContainer>
    }
}


@code {
   
    private List<BudgetWithProgressDto>? MyBudgets { get; set; }
    private bool loading = true;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await RefreshPage();
        loading = false;
    }

    private async Task OpenBudgetDialogAsync(int? budget_id)
    {
        var options = new DialogOptions { 
            CloseOnEscapeKey = true, 
            NoHeader=false, 
            CloseButton=true, 
            MaxWidth=MaxWidth.Medium  
        };
        var parameters = new DialogParameters<BudgetDialog>
        {
            { x => x.BudgetId, budget_id }
        };

        var dialog = await DialogService.ShowAsync<BudgetDialog>(title: "", parameters, options);
        var result = await dialog.Result;
        if (result != null && !result.Canceled)
        {
            await RefreshPage();
            StateHasChanged();
        }
    }

    private async Task ConfirmDelete(int budget_id)
    {
        var options = new DialogOptions { 
            CloseOnEscapeKey = true, 
        };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message,  "Are you sure you want to delete the budget? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "", parameters, options);
        var result = await dialog.Result;
        if (result != null && !result.Canceled)
        {
            var command = new DeleteBudgetCommand(){UserId = CurrentUserService.GetUserId(), Id = budget_id};
            await Mediator.Send(command);
            Snackbar.Add("Budget succesfully deleted! ", Severity.Success);
            await RefreshPage();
            StateHasChanged();
        }
    }

    async Task RefreshPage(){
        MyBudgets = await Mediator.Send(new GetBudgetsWithProgressQuery(){UserId = CurrentUserService.GetUserId()});
    }

}
