@page "/categories"
@attribute [Authorize]
@rendermode InteractiveWebAssembly

@implements IDisposable
@using ExpenseTrackerSharedCL.Features.Categories
@using ExpenseTrackerSharedCL.Features.Categories.Dtos
@using ExpenseTrackerWasmWebApp.Features.Categories.Services
@using ExpenseTrackerWasmWebApp.Features.SharedKernel
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject ICategoryService CategoryService
@inject NavigationManager NavigationManager
@inject PersistentComponentState ApplicationState

<PageTitle>Categories</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex flex-column gap-5 mt-6">

    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <MudText Typo="Typo.h5">Categories</MudText>
        <MudButton Class="d-none d-md-flex" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenCategoryDialogAsync(null))" StartIcon="@Icons.Material.Filled.Add">Add</MudButton>
        <FabButton Class="d-flex d-md-none" Text="Add" IconClass="@Icons.Material.Filled.Add" OnClick="@(() => OpenCategoryDialogAsync(null))" />
    </MudStack>

    <MudGrid>
        <MudItem xs="12" md="6">
            <MudTextField @bind-Value="searchString"
                          Placeholder="Search categories..."
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Variant="Variant.Outlined"
                          Immediate="true" Typo="Typo.body1" />
        </MudItem>
        <MudItem xs="12" md="6">
            <MudSelect T="TransactionTypeDto" @bind-Value="transactionType" Variant="Variant.Outlined" Typo="Typo.body1">
                <MudSelectItem Value="TransactionTypeDto.Expense">Expenses</MudSelectItem>
                <MudSelectItem Value="TransactionTypeDto.Income">Incomes</MudSelectItem>
            </MudSelect>
        </MudItem>
    </MudGrid>

    @if (AllCategories == null || AllCategories.Count == 0)
    {
        <MudText Typo="Typo.subtitle1">No categories created yet!</MudText>
    }
    else if (FilteredCategories == null || FilteredCategories.Count == 0)
    {
        <MudText Typo="Typo.subtitle1">No categories found!</MudText>
    }
    else
    {
        <MudGrid>
            @foreach (var category in FilteredCategories)
            {
                <MudItem xs="12" md="6">
                    <MudCard Elevation="1">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudIcon Icon="@category.Icon" Size="Size.Large" Style="@($"color:{category.Color};")"></MudIcon>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.subtitle1">@category.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" Dense="false">
                                    <MudMenuItem Icon="@Icons.Material.Filled.Edit" OnClick="@(() => OpenCategoryDialogAsync(category))">
                                        Edit
                                    </MudMenuItem>
                                    <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" OnClick="@(() => ConfirmDelete((int)category.Id!))">
                                        <MudText Color="Color.Error">Delete</MudText>
                                    </MudMenuItem>
                                </MudMenu>
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            <div style="display: grid; grid-template-rows: repeat(3, min-content); grid-template-columns: 150px 1fr; gap:1rem; align-items: center; justify-content: center;">
                                
                                <MudText Typo="Typo.body1">Total transactions:</MudText>
                                <MudText Typo="Typo.subtitle1">@category.TransactionsCount</MudText>

                                <MudText Typo="Typo.body1">@(category.Type == TransactionTypeDto.Income ? "Total income: " : "Total expenses: ")</MudText>
                                <AmountDisplay Amount="@category.TotalAmount" FontSize="Typo.subtitle1" />

                                <MudText Typo="Typo.body1" Class="flex-grow-1">vs Last Month:</MudText>
                                <MudText Typo="Typo.subtitle1" Color="@category.ComparisonColor" Class="month-comparison">
                                    @category.ComparisonDisplay
                                </MudText>
                            </div>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }

    

</MudContainer>
}


@code {
    public List<CategoryWithStatsDto> AllCategories { get; set; } = [];
    public List<CategoryWithStatsDto> FilteredCategories
    {
        get
        {
            return AllCategories
            .Where(c => (string.IsNullOrWhiteSpace(searchString) || c.Name!.Contains(searchString, StringComparison.OrdinalIgnoreCase)) && c.Type == transactionType)
            .ToList();
        }
    }
    public string searchString = "";
    public TransactionTypeDto transactionType = TransactionTypeDto.Expense;



    public PersistingComponentStateSubscription persistingSubscription;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (!ApplicationState.TryTakeFromJson<List<CategoryWithStatsDto>>(nameof(AllCategories), out var allCategories))
        {
            await RefreshPage();
        }
        else
        {
            AllCategories = allCategories;
        }
        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistCategories);
    }

    private Task PersistCategories()
    {
        ApplicationState.PersistAsJson(nameof(AllCategories), AllCategories);
        return Task.CompletedTask;
    }

    public void Dispose()
    {
        persistingSubscription.Dispose();
    }

    private async Task OpenCategoryDialogAsync(CategoryWithStatsDto? category)
    {
        var categoryDto = new CategoryDto();
        if (category == null)
        {
            categoryDto.Color = "#1976d2";
            categoryDto.Type = transactionType;
        }
        else
        {
            categoryDto = new CategoryDto
            {
                Id = category.Id,
                Name = category.Name,
                Color = category.Color,
                Icon = category.Icon,
                Type = category.Type
            };
        }

        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };
        var parameters = new DialogParameters<CategoryDialog>
        {
            { x => x.CategoryDto, categoryDto }
        };

        var dialog = await DialogService.ShowAsync<CategoryDialog>(title: "", parameters, options);
        var result = await dialog.Result;
        if (result != null && !result.Canceled)
        {
            await RefreshPage();
        }
    }

    private async Task ConfirmDelete(int category_id)
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
        };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message,  "Are you sure you want to delete the category? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "", parameters, options);
        var result = await dialog.Result;

        if (result is not null && !result.Canceled)
        {
            var res = await CategoryService.DeleteCategoryAsync(category_id);
            if (res.IsSuccess)
            {
                Snackbar.Add("Category succesfully deleted! ", Severity.Success);
                await RefreshPage();
            }
            else if (res.Reason == FailureReason.Unauthorized)
            {
                Snackbar.Add("Session expired. Please log in again.", Severity.Error);
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                Snackbar.Add(res.ErrorMessage ?? "Error deleting category!", Severity.Error);
            }
        }
    }


    private async Task RefreshPage()
    {
        var result = await CategoryService.GetCategoriesWithStatsAsync();
        if (result.IsSuccess)
        {
            AllCategories = result.Data ?? new();
        }
        else if (result.Reason == FailureReason.Unauthorized)
        {
            Snackbar.Add("Session expired. Please log in again.", Severity.Error);
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Snackbar.Add(result.ErrorMessage ?? "Error loading categories!", Severity.Error);
        }
    }
}
