@page "/transactions"
@attribute [Authorize]
@rendermode InteractiveWebAssembly

@using ExpenseTrackerSharedCL.Features.Categories.Dtos
@using ExpenseTrackerSharedCL.Features.Tags.Dtos
@using ExpenseTrackerSharedCL.Features.Transactions.Dtos
@using ExpenseTrackerSharedCL.Features.Transactions.Services
@using ExpenseTrackerWasmWebApp.Features.Transactions.Services
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components
@using System.Net.Http.Headers
@using ExpenseTrackerWasmWebApp.Features.DataSeeding.Components
@using MudBlazor.Extensions
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject ITransactionService TransactionService
@inject NavigationManager NavigationManager

<PageTitle>@(IsReoccuring ? "Reoccuring Transactions" : "Transactions")</PageTitle>


<MudContainer MaxWidth="MaxWidth.Large">
    <MudPaper Class="pa-6 mt-6" Elevation="15">
        <MudGrid>
            <MudItem xs="12" Class="d-flex justify-center">
                <MudText Typo="Typo.h4">@(IsReoccuring ? "Reoccuring Transactions" : "Transactions")</MudText>
            </MudItem>
            @* desktop *@
            <MudItem xs="12" Class="d-none d-md-block">
                <MudPaper Elevation="0" Class="d-flex flex-grow-1 justify-space-between gap-2">
                    <MudPaper Elevation="0" Class="d-flex gap-2">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                            OnClick="@(() => OpenTransactionDialogAsync(null))"
                            StartIcon="@Icons.Material.Filled.Add">Add
                        </MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ReloadGrid"
                            StartIcon="@Icons.Material.Filled.Refresh">Refresh
                        </MudButton>
                    </MudPaper>
                    <MudPaper Elevation="0" Class="d-flex gap-2">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@OpenExportDialog"
                            StartIcon="@Icons.Material.Filled.ImportExport">Export</MudButton>
                        @{
                            // todo
                            //
                            var email = "sa";
                            if (!string.IsNullOrWhiteSpace(email) && email.ToLower() == "sa")
                            {
                                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@AddTestData"
                                    StartIcon="@Icons.Material.Filled.Add">Add Test Data
                                </MudButton>
                            }
                        }

                    </MudPaper>
                </MudPaper>
            </MudItem>
            <MudItem xs="12" Class="d-none d-md-block">
                <MudButton OnClick="OnExpandCollapseClick" Variant="Variant.Outlined">Filters</MudButton>
            </MudItem>
            <MudItem xs="12" Class="d-none d-md-block" Style="padding-top: 0px;">
                <MudCollapse Expanded="IsFiltersCollapsed">
                    <TransactionsFilter Filters="Filters" RefreshDataGridAction="ReloadGrid" />
                </MudCollapse>
            </MudItem>
            @* mobile *@
            <MudItem xs="12" Class="d-flex d-md-none justify-center gap-3">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@OpenExportDialog"
                    StartIcon="@Icons.Material.Filled.ImportExport">Export</MudButton>
                <MudButton OnClick="OnClickShowFilterDialog" Variant="Variant.Outlined">Filters</MudButton>
            </MudItem>
            <AddTransactionFab Class="d-flex d-md-none" OnClose="ReloadGrid" />
            <MudDialog @ref="_filterDialog">
                <TitleContent>Filters</TitleContent>
                <DialogContent>
                    <TransactionsFilter Filters="Filters" RefreshDataGridAction="ReloadGrid" />
                </DialogContent>
            </MudDialog>

            <MudItem xs="12" Style="height: 100%;">
                <MudPaper Outlined="true" Elevation="1" Class="border-2">
                    <MudDataGrid @ref="@dataGrid" T="TransactionDto" Hover Groupable Height="45vh" ItemSize="30f"
                        SortMode="SortMode.Single" ServerData="ServerReload" FixedHeader FixedFooter>
                        <Columns>
                            <PropertyColumn Property="t => t.AccountDto!.Name" Title="Account" Sortable="true">
                                <CellTemplate>
                                    <TextWithIcon Text="@context.Item.AccountDto!.Name"
                                        Icon="@context.Item.AccountDto.Icon" IconColor="@context.Item.AccountDto.Color"
                                        IconSize="Size.Small" TextTypo="Typo.body2"></TextWithIcon>
                                </CellTemplate>
                            </PropertyColumn>
                            <PropertyColumn Property="t => t.CategoryDto!.Name" Title="Category" Sortable="true">
                                <CellTemplate>
                                    <TextWithIcon Text="@context.Item.CategoryDto!.Name"
                                        Icon="@context.Item.CategoryDto.Icon"
                                        IconColor="@context.Item.CategoryDto.Color" IconSize="Size.Small"
                                        TextTypo="Typo.body2"></TextWithIcon>
                                </CellTemplate>
                            </PropertyColumn>
                            @if (IsReoccuring)
                            {
                                <PropertyColumn Sortable="true" Property="t => t.NextReoccuranceDate"
                                    Title="Next reoccurance" Format="dd/MM/yyyy"></PropertyColumn>
                            }
                            else
                            {
                                <PropertyColumn Property="t => t.DateStr" Title="Time" Grouping="true" GroupExpanded="true"
                                    Sortable="true">
                                    <GroupTemplate>
                                        @if (@context.Grouping.Key!.ToString() == DateTime.Now.ToString("yyyy-MM-dd"))
                                        {
                                            <span>Today</span>
                                        }
                                        else if (@context.Grouping.Key!.ToString() ==
                                        DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd"))
                                        {
                                            <span>Yesterday</span>
                                        }
                                        else
                                        {
                                            <span>@(context.Grouping.Key)</span>
                                        }
                                    </GroupTemplate>
                                    <CellTemplate>
                                        @context.Item.Date!.Value.TimeOfDay.ToString(@"hh\:mm")
                                    </CellTemplate>
                                </PropertyColumn>
                            }
                            <PropertyColumn Property="t => t.Amount" Title="Amount" Sortable="true">
                                <CellTemplate>
                                    <AmountDisplay Amount="(decimal)context.Item.Amount!" />
                                </CellTemplate>
                            </PropertyColumn>
                            <TemplateColumn Title="Tags" Filterable="false" Sortable="false">
                                <CellTemplate>
                                    <MudPaper Elevation="0" Class="d-flex gap-1 flex-wrap"
                                        Style="background-color:transparent;">
                                        @foreach (var tag in context.Item.TransactionTags)
                                        {
                                            <MudChip T="string" Style="@($"background-color:{tag.Tag.Color}; color:white;")"
                                                Size="Size.Small" Variant="Variant.Filled">
                                                @tag.Tag.Name
                                            </MudChip>
                                        }
                                    </MudPaper>
                                </CellTemplate>
                            </TemplateColumn>
                            <TemplateColumn>
                                <CellTemplate>
                                    <MudPaper Elevation="0" Class="d-flex gap-4" Style="background-color:transparent;">
                                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Primary"
                                            OnClick="@(() => OpenTransactionDialogAsync(context.Item))">
                                        </MudIconButton>
                                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Color="Color.Error"
                                            OnClick="@(() => ConfirmDelete((int)context.Item.Id!))"></MudIconButton>
                                    </MudPaper>
                                </CellTemplate>
                            </TemplateColumn>
                        </Columns>
                        <PagerContent>
                            <MudDataGridPager T="TransactionDto" />
                        </PagerContent>
                    </MudDataGrid>
                </MudPaper>
            </MudItem>
        </MudGrid>
    </MudPaper>
</MudContainer>




@code {

    [Parameter]
    [SupplyParameterFromQuery(Name = "isreoccuring")]

    public bool IsReoccuring { get; set; } = false;

    private MudDataGrid<TransactionDto> dataGrid = null!;

    private int NumberOfTransactions = -1;

    private SortDefinition<TransactionDto>? _currentSort;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    private async Task<GridData<TransactionDto>> ServerReload(GridState<TransactionDto> state)
    {
        TransactionsGridOptionsDto options = new TransactionsGridOptionsDto();
        options.IsReoccuring = IsReoccuring;
        var sortDefintion = state.SortDefinitions.FirstOrDefault();
        if (sortDefintion != null)
        {
            options.SortBy = sortDefintion.SortBy;
            options.SortDescending = sortDefintion.Descending;
            _currentSort = sortDefintion; 
        }
        options.PageSize = state.PageSize;
        options.CurrentPage = state.Page;
        options.Filters = Filters;
        var result = await TransactionService.GetTransactionsAsync(options);

        if (result.IsSuccess && result.Data is not null)
        {
            return new GridData<TransactionDto>()
            {
                Items = result.Data.Transactions,
                TotalItems = result.Data.TotalItems
            };
        }

        if (result.Reason == FailureReason.Unauthorized)
        {
            Snackbar.Add("Session expired. Please log in again.", Severity.Error);
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Snackbar.Add(result.ErrorMessage ?? "Error fetching transactions!", Severity.Error);
        }

        return new GridData<TransactionDto>()
        {
            Items = new List<TransactionDto>(),
            TotalItems = 0
        };
    }
    
    private async Task ReloadGrid()
    {
        if (dataGrid != null)
        {
            await dataGrid.ReloadServerData();
        }
        else
        {
            StateHasChanged();
        }
    }


    private async Task OpenTransactionDialogAsync(TransactionDto? transactionDto)
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };
        var parameters = new DialogParameters<TransactionDialog>
        {
            { x => x.TransactionDto, transactionDto },
            { x => x.IsReoccuring, IsReoccuring }
        };

        var dialog = await DialogService.ShowAsync<TransactionDialog>(title: "Simple Dialog", parameters, options);
        var result = await dialog.Result;
        await ReloadGrid();
    }

    private async Task ConfirmDelete(int transactionId)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message, "Are you sure you want to delete the transaction? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "Warning", parameters, options);
        var result = await dialog.Result;
        if (result is not null && !result.Canceled)
        {
            var deleteResult = await TransactionService.DeleteTransactionAsync(transactionId);
            if(deleteResult.IsSuccess){
                Snackbar.Add("Transaction succesfully deleted! ", Severity.Success);
                await ReloadGrid();
            }
            else if(deleteResult.Reason == FailureReason.Unauthorized)
            {
                Snackbar.Add("Session expired. Please log in again.", Severity.Error);
                NavigationManager.NavigateTo("/login");
            }
            else{
                Snackbar.Add(deleteResult.ErrorMessage ?? "Error deleting transaction!", Severity.Error);
            }
        }
    }

    private async Task AddTestData()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };

        var parameters = new DialogParameters<DataSeedDialog>
        {
            {x => x.RefreshData, new Func<Task>(async () => {
                await ReloadGrid();
            })}
        };
        var dialog = await DialogService.ShowAsync<DataSeedDialog>(title: "", parameters, options);
        var result = await dialog.Result;

        if (!result!.Canceled)
        {
            await ReloadGrid();
        }
    }

    private async Task OpenExportDialog()
    {
        var dialogOptions = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };

        var options = new TransactionsGridOptionsDto();
        options.Filters = Filters;
        options.IsReoccuring = IsReoccuring;
        options.PageSize = int.MaxValue;
        options.CurrentPage = 0;
        
        if (_currentSort != null)
        {
            options.SortBy = _currentSort.SortBy;
            options.SortDescending = _currentSort.Descending;
        }
        
        var parameters = new DialogParameters<ExportDialog> 
        {
             {x => x.ExportOptions, options}
        };
        var dialog = await DialogService.ShowAsync<ExportDialog>(title: "", parameters, dialogOptions);
    }


    // filters

    bool IsFiltersCollapsed = false;
    private void OnExpandCollapseClick()
    {
        IsFiltersCollapsed = !IsFiltersCollapsed;
    }
    private TransactionsFiltersDto Filters{get; set;} = new TransactionsFiltersDto();


    public TransactionsFilter FiltersPopup { get; set; } = null!;
    private MudDialog _filterDialog = null!;

    private async Task OnClickShowFilterDialog()
    {
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.ExtraSmall
        };

        await _filterDialog.ShowAsync("Filters", options);
    }

}