@page "/transactions"
@using ExpenseTracker.Components.Pages.Dialogs
@using ExpenseTracker.Database.Models
@using ExpenseTracker.Services
@rendermode InteractiveServer
@inject TransactionService TransactionService
@inject CategoryService CategoryService
@inject AccountService AccountService 
@inject IDialogService DialogService
@inject NotificationService NotificationService

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider /> 
<MudSnackbarProvider />

<div style="display: flex; flex-direction: column; gap: 1rem;">
    <PageTitle>Trasactions</PageTitle>
    <h1>Transactions</h1>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenTransactionDialogAsync(null))">Add</MudButton>
    <div class="filter-container">
        <MudSelect T="int?" Label="Account" @bind-Value="accountId"
             @bind-Value:after="this.FilterChanged">
            <MudSelectItem Value="@((int?)null)">All</MudSelectItem>
            @if(Accounts is not null){
                @foreach (var account in Accounts)
                {
                    <MudSelectItem Value="@((int?)account.Id)">@account.Name</MudSelectItem>
                }
            }
        </MudSelect>


        <MudSelect T="TransactionType?" Label="Type" @bind-Value="transactionType"
             @bind-Value:after="this.FilterChanged">
            <MudSelectItem Value="@((TransactionType?)null)">All</MudSelectItem>
            @foreach (TransactionType item in Enum.GetValues(typeof(TransactionType)))
            {
                <MudSelectItem Value="@((TransactionType?)item)">@item</MudSelectItem>
            }
        </MudSelect>

        <MudSelect T="int?" Label="Category" @bind-Value="categoryId"
             @bind-Value:after="this.FilterChanged">
            <MudSelectItem Value="@((int?)null)">All</MudSelectItem>
            @if(Categories is not null){
                @foreach (var category in Categories)
                {
                    <MudSelectItem Value="@((int?)category.Id)">@category.Name</MudSelectItem>
                }
            }
        </MudSelect>
    </div>
    @if(MyTransactions is not null){

        <MudDataGrid Items="@MyTransactions" Class="data-grid">
            <Columns>
                <TemplateColumn Title="Amount">
                    <CellTemplate>
                        @(context.Item.Category.Type == TransactionType.Expense ? -context.Item.Amount : context.Item.Amount)
                    </CellTemplate>
                </TemplateColumn>
                <PropertyColumn Property="t => t.Date" Title="Date"></PropertyColumn>
                <PropertyColumn Property="t => t.Category.Name" Title="Category"></PropertyColumn>
                <PropertyColumn Property="t => t.Description" Title="Description"></PropertyColumn>
                <TemplateColumn >
                    <CellTemplate>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenTransactionDialogAsync(context.Item.Id))">Edit</MudButton>
                    </CellTemplate>
                </TemplateColumn>
                <TemplateColumn>
                    <CellTemplate>
                        <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="@(() => ConfirmDelete(context.Item.Id))">Delete</MudButton>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    }
</div>


@code {
    private List<Transaction> MyTransactions;
    private List<Category> Categories;
    private List<Account> Accounts;
    private TransactionType? transactionType;
    private int? categoryId;

    private int? accountId;
    protected override async Task OnInitializedAsync()
    {
        MyTransactions = await TransactionService.GetAllAsync();
        Categories = await CategoryService.GetAllAsync();
        Accounts = await AccountService.GetAllAsync();

        transactionType = null;
        categoryId = null;
        accountId = null;
    }

    private async Task OpenTransactionDialogAsync(int? transaction_id)
    {
        // no point making transaction if we don't have any categories or accounts

        if ((await CategoryService.GetAllAsync()).Count == 0)
        {
            await NotificationService.ShowError("No categories found! Create some then try again!");
            return;
        }

        if ((await AccountService.GetAllAsync()).Count == 0)
        {
            await NotificationService.ShowError("No accounts found! Create some then try again!");
            return;
        }



        var options = new DialogOptions { CloseOnEscapeKey = true, };
        var parameters = new DialogParameters<TransactionDialog>
        {
            { x => x.TransactionId, transaction_id }
        };

        var dialog = await DialogService.ShowAsync<TransactionDialog>(title: "Simple Dialog", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await UpdatePage();
        }
    }

    private async Task ConfirmDelete(int transaction_id)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message,  "Are you sure you want to delete the transaction? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "Warning", parameters, options);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await TransactionService.DeleteAsync(transaction_id);
            await NotificationService.ShowSuccess("Transaction succesfully deleted! ");
            await UpdatePage();
        }
    }

    
    private async void FilterChanged()
    {
        await UpdatePage();
        StateHasChanged();
    }

    async Task UpdatePage(){

        MyTransactions = await TransactionService.GetAllAsync();
        Categories = await CategoryService.GetAllAsync();

        if(transactionType is not null){
            MyTransactions = MyTransactions.Where(t => t.Category.Type == transactionType).ToList();
            Categories = Categories.Where(c => c.Type == transactionType).ToList();
            
        }
        

        if(categoryId is not null){
            if(!Categories.Select(c => c.Id).ToList().Contains((int)categoryId)){
                categoryId = null;
            }
            else{
                MyTransactions = MyTransactions.Where(t => t.Category.Id == categoryId).ToList();
            }
        }

        if(accountId is not null){
            MyTransactions = MyTransactions.Where(t => t.AccountId == accountId).ToList();
        }
    }


}
