@page "/accounts"
@attribute [Authorize]
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))

@using ExpenseTrackerSharedCL.Features.Accounts.Dtos
@using ExpenseTrackerSharedCL.Features.Accounts.Services
@using ExpenseTrackerWasmWebApp.Features.Accounts.Services
@using ExpenseTrackerWasmWebApp.Features.SharedKernel
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components.Titles
@using System.Net.Http.Headers
@using MudBlazor.Utilities
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject IAccountService AccountService
@inject NavigationManager NavigationManager


<PageTitle>Accounts</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex flex-column gap-5 mt-6">
    
    <MudGrid>
        <MudItem xs="12">
            <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
                <MainPageTitle Title="Accounts"></MainPageTitle>
                <MudButton Class="d-none d-md-flex" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenEditor(null))" StartIcon="@Icons.Material.Filled.Add">Add</MudButton>
                <FabButton Class="d-flex d-md-none" Text="Add" IconClass="@Icons.Material.Filled.Add" OnClick="@(() => OpenEditor(null))" />
            </MudStack>
        </MudItem>

        <MudItem xs="12">
            <MudTextField @bind-Value="searchString"
                          Placeholder="Search accounts..."
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Variant="Variant.Outlined"
                          Immediate="true" />
        </MudItem>
           
        @if (AllAccounts == null)
        {
            @for (int i = 0; i < 4; i++)
            {
                <MudItem xs="12" md="6">
                    <MudCard Elevation="1">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudSkeleton SkeletonType="SkeletonType.Circle" Width="40px" Height="40px" />
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="20px" />
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudStack Row AlignItems="AlignItems.Center">
                                <MudText>Balance: </MudText>
                                <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="50%" Height="32px" />
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        }
        else if (AllAccounts.Count == 0)
        {
            <MudItem xs="12">
                <NoRecords Title="No accounts created yet"
                           Message="Create your first account to start tracking your money."
                           Icon="@Icons.Material.Filled.Category"></NoRecords>
            </MudItem>
        }
        else if (FilteredAccounts.Count == 0)
        {
            <MudItem xs="12">
                <NoRecords Title="No accounts found"
                           Message="Change your search terms to show accounts."
                           Icon="@Icons.Material.Filled.SearchOff"></NoRecords>
            </MudItem>
        }
        else
        {
            @foreach (var account in FilteredAccounts)
            {
                <MudItem xs="12" md="6">
                    <MudCard Elevation="1">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudIcon Icon="@account.Icon" Size="Size.Large" Style="@($"color:{account.Color};")"></MudIcon>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.caption">@account.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" Dense="false">
                                    <MudMenuItem Icon="@Icons.Material.Filled.Edit" OnClick="@(() => OpenEditor(account))">
                                        Edit
                                    </MudMenuItem>
                                    <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" OnClick="@(() => ConfirmDelete((int)account.Id!))">
                                        <MudText Color="Color.Error">Delete</MudText>
                                    </MudMenuItem>
                                </MudMenu>
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudStack Row AlignItems="AlignItems.Center">
                                <MudText>Balance: </MudText>
                                <AmountDisplay Amount="@account!.CurrentBalance" FontSize="Typo.h5" />
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        }
    
    </MudGrid>
</MudContainer>

<MudDrawer @bind-Open="@_isSideDrawerOpen"
           Fixed="true"
           Anchor="Anchor.End"
           Variant="@DrawerVariant.Temporary"
           Width="min(100vw, 400px)"
           Elevation="2">
    
    <div class="px-6 mt-6">
        <AccountEditor Close="CloseDrawer" OnAccountSaved="CloseDrawerRefresh" AccountDto="@AccountToEdit" />
    </div>
</MudDrawer>
    
@code {

    public List<AccountWithBalanceDto> AllAccounts { get; set; } = null;

    private bool _isSideDrawerOpen = false;

    private void CloseDrawer() => _isSideDrawerOpen = false;

    private AccountDto AccountToEdit = new AccountDto();

    private string searchString = "";

    public List<AccountWithBalanceDto> FilteredAccounts
    {
        get
        {
            return AllAccounts
            .Where(c => (string.IsNullOrWhiteSpace(searchString) || c.Name!.Contains(searchString, StringComparison.OrdinalIgnoreCase)))
            .ToList();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await UpdatePage();
    }

    private async Task OpenEditor(AccountWithBalanceDto? accountWithBalance)
    {
        var accountDto = new AccountDto();
        if (accountWithBalance == null)
        {
            accountDto.Color = "#1976d2";
        }
        else
        {
            accountDto.Id = accountWithBalance.Id;
            accountDto.Name = accountWithBalance.Name;
            accountDto.InitialBalance = accountWithBalance.InitialBalance;
            accountDto.Color = accountWithBalance.Color;
            accountDto.Icon = accountWithBalance.Icon;
        }

        AccountToEdit = accountDto;
        _isSideDrawerOpen = true;
    }

    private async Task CloseDrawerRefresh()
    {
        CloseDrawer();
        await UpdatePage();
    }

    private async Task ConfirmDelete(int accountId)
    {
        bool? result = await DialogService.ShowMessageBox("Warning", "Are you sure you want to delete the account and the related transactions?", "Confirm", "Cancel");
        if (result == true)
        {
            var res = await AccountService.DeleteAccountAsync(accountId);
            if (res.IsSuccess)
            {
                Snackbar.Add("Account successfully deleted!", Severity.Success);
                await UpdatePage();
            }
            else if (res.Reason == FailureReason.Unauthorized)
            {
                Snackbar.Add("Session expired. Please log in again.", Severity.Error);
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                Snackbar.Add(res.ErrorMessage?.ToString() ?? "Error deleting account!", Severity.Error);
            }
        }
    }

    private async Task UpdatePage()
    {
        var result = await AccountService.GetAccountsWithBalanceAsync();
        if (result.IsSuccess)
        {
            AllAccounts = result.Data!;
        }
        else if (result.Reason == FailureReason.Unauthorized)
        {
            Snackbar.Add("Session expired. Please log in again.", Severity.Error);
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Snackbar.Add(result.ErrorMessage!, Severity.Error);
            NavigationManager.NavigateTo("/login");
        }
    }
}