@page "/accounts"
@attribute [Authorize]
@using ExpenseTrackerSharedCL.Features.Accounts.Dtos
@using ExpenseTrackerWasmWebApp.Features.Accounts.Services
@using ExpenseTrackerWasmWebApp.Services
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components
@using System.Net.Http.Headers
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IJSRuntime JSRuntime
@inject AccountService AccountService
@inject NavigationManager NavigationManager

<PageTitle>Accounts</PageTitle>

@if (loading)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudProgressCircular Indeterminate="true" Size="Size.Large" />
    </div>
}
else
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper Class="pa-6 mt-6" Elevation="15">
            <MudGrid>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudText Typo="Typo.h4">Accounts</MudText>
                </MudItem>
                <DynamicContent>
                    <DesktopContent>
                    <MudItem xs="12" Class="mb-4 d-flex justify-center">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                            OnClick="@(() => OpenAccountDialogAsync(null))" StartIcon="@Icons.Material.Filled.Add">Add
                        </MudButton>
                    </MudItem>
                    </DesktopContent>
                    <MobileContent>
                        <FabButton Text="Add" IconClass="@Icons.Material.Filled.Add" OnClick="@(() => OpenAccountDialogAsync(null))" />
                    </MobileContent>
                </DynamicContent>
                
                @if (MyAccounts == null || MyAccounts.Count == 0)
                {
                    <MudItem xs="12" Class="d-flex justify-center">
                        <MudText Typo="Typo.h5">No accounts created yet!</MudText>
                    </MudItem>
                }
                else
                {
                    @foreach (var account in MyAccounts)
                    {
                        <MudItem xs="12" md="6">
                            <AccountCard Account="@account" OnEdit="@(() => OpenAccountDialogAsync(account))" OnDelete="@(() => ConfirmDelete((int)account.Id!))"></AccountCard>
                        </MudItem>
                    }
                }
            </MudGrid>
        </MudPaper>
    </MudContainer>
}

@code {
    private List<AccountWithBalanceDto> MyAccounts = new();

    bool loading = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await UpdatePage();
        loading = false;
    }

    private async Task OpenAccountDialogAsync(AccountWithBalanceDto? accountWithBalance)
    {
        var accountDto = new AccountDto();
        if(accountWithBalance == null)
        {
            accountDto.Color = "#1976d2";
        }
        else{
            accountDto.Id = accountWithBalance.Id;
            accountDto.Name = accountWithBalance.Name;
            accountDto.InitialBalance = accountWithBalance.InitialBalance;
            accountDto.Color = accountWithBalance.Color;
            accountDto.Icon = accountWithBalance.Icon;
        }
        var options = new DialogOptions
        {
            CloseOnEscapeKey = true,
            NoHeader = false,
            CloseButton = true,
            MaxWidth = MaxWidth.Medium
        };

        var parameters = new DialogParameters<AccountDialog>
        {
            { x => x.AccountDto, accountDto }
        };

        var dialog = await DialogService.ShowAsync<AccountDialog>(title: "", parameters, options);
        var result = await dialog.Result;
        if (!result!.Canceled)
        {
            await UpdatePage();
        }
    }


    private async Task ConfirmDelete(int accountId)
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message, "Are you sure you want to delete the account and the related transactions? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "", parameters, options);
        var result = await dialog.Result;
        if (!result!.Canceled)
        {
            var res= await AccountService.DeleteAccountAsync(accountId);
            if(res.IsSuccess)
            {
                Snackbar.Add("Account successfully deleted!", Severity.Success);
                await UpdatePage();
            }
            else if(res.Reason == FailureReason.Unauthorized)
            {
                Snackbar.Add("Session expired. Please log in again.", Severity.Error);
                NavigationManager.NavigateTo("/login");
            }
            else
            {
                Snackbar.Add(res.ErrorMessage?.ToString() ?? "Error deleting account!", Severity.Error);
            }
        }
    }


    private async Task UpdatePage()
    {
        var result = await AccountService.GetAccountsWithBalanceAsync();
        if (result.IsSuccess)
        {
            MyAccounts = result.Data!;
        }
        else if(result.Reason == FailureReason.Unauthorized)
        {
            Snackbar.Add("Session expired. Please log in again.", Severity.Error);
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Snackbar.Add(result.ErrorMessage!, Severity.Error);
            NavigationManager.NavigateTo("/login");
        }
    }
}