@using ApexCharts
@using ExpenseTrackerSharedCL.Features.UserPreferences.Dtos
@using ExpenseTrackerWasmWebApp.Services
@using Microsoft.AspNetCore.Components.Authorization
@using MudBlazor
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject IApexChartService apexChartService
@inject HttpClient Http
@inject ISnackbar Snackbar
@inject IApexChartService ApexChartService
@inject AuthenticationStateProvider AuthStateProvider
@inject CachedDataService CachedDataService
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />

<MudLayout>
    @if (IsLoggedIn)
    {
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="MudBlazor.Color.Inherit" Edge="Edge.Start"
                OnClick="@((e) => DrawerToggle())" />
            <MudSpacer />
            <MudSwitch @bind-Value="_isDarkMode" Color="MudBlazor.Color.Primary" Class="ma-4" T="bool" Label="Dark Mode"
                @bind-Value:after="this.ThemeChanged" />
            <MudMenu AnchorOrigin="Origin.BottomLeft" Icon="@Icons.Material.Filled.AccountCircle">
                <ActivatorContent>
                    <MudAvatar Color="MudBlazor.Color.Primary">
                        <MudIcon Icon="@Icons.Material.Filled.Person" />
                    </MudAvatar>
                </ActivatorContent>
                <ChildContent>
                    <div class="px-4 py-4">
                        <MudText Typo="Typo.body2">@email</MudText>
                    </div>
                    <MudDivider />
                    <MudMenuItem Icon="@Icons.Material.Filled.Logout" OnClick="Logout" Color="MudBlazor.Color.Error">Logout</MudMenuItem>
                </ChildContent>
            </MudMenu>
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
            <MudDrawerHeader>
                <MudText Typo="Typo.h5" Class="mt-1">Expense Tracker</MudText>
            </MudDrawerHeader>
            <MudNavMenu>
                <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Dashboard">Dashboard</MudNavLink>
                <MudNavLink Href="transactions?isReoccuring=false"  Icon="@Icons.Material.Filled.CompareArrows">
                    Transactions</MudNavLink>
                <MudNavLink Href="accounts" Icon="@Icons.Material.Filled.AccountBalance">Accounts
                </MudNavLink>
                <MudNavLink Href="categories" Icon="@Icons.Material.Filled.Category">Categories
                </MudNavLink>
                <MudNavLink Href="transactions?isReoccuring=true" Icon="@Icons.Material.Filled.Category">
                    Reoccuring transactions
                </MudNavLink>
                <MudNavLink Href="budgets" Icon="@Icons.Material.Filled.Money">Budgets
                </MudNavLink>
            </MudNavMenu>
        </MudDrawer>
    }
    else
    {
        <MudAppBar Elevation="1">
            <MudText Typo="Typo.h5" Class="mt-1">Expense Tracker</MudText>
        </MudAppBar>
    }

    <MudMainContent>
        @Body
    </MudMainContent>

</MudLayout>
@code {
    bool _drawerOpen = true;

    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }


    private bool IsLoggedIn = false;
    private string email = "";
    private UserPreferenceDto userPreferenceDto = new UserPreferenceDto(){DarkMode = false};

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        IsLoggedIn = user.Identity?.IsAuthenticated ?? false;
        email = user.Identity?.Name ?? "";

        if(IsLoggedIn && !CachedDataService.IsInitialized)
        {
            await CachedDataService.InitializeAsync();
            var uri = NavigationManager.ToBaseRelativePath(NavigationManager.Uri).ToLower();
            bool UserIsOnLoginOrRegister = uri.StartsWith("login") || uri.StartsWith("register");
            if(UserIsOnLoginOrRegister){
                NavigationManager.NavigateTo("/");
            }
        }
        userPreferenceDto = CachedDataService.GetUserPreferences();
        _isDarkMode = userPreferenceDto.DarkMode;
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await RefreshGraphs();
        }
    }

    private async Task Logout()
    {
        CachedDataService.ClearCache();
        await LocalStorage.RemoveItemAsync("authToken");
        Snackbar.Add("You have been logged out.", Severity.Info);
        NavigationManager.NavigateTo("login");
    }


    private bool _isDarkMode;
    private MudTheme _theme = new();

    private async Task ThemeChanged()
    {
        if (IsLoggedIn)
        {
            await SetDarkMode(_isDarkMode);
        }

        await RefreshGraphs();
    }

    private async Task RefreshGraphs()
    {
        await ApexChartService.SetGlobalOptionsAsync(new ApexChartBaseOptions
        {
            Debug = false,
            Theme = new Theme
            {
                Mode = _isDarkMode ? Mode.Dark : Mode.Light,
                Palette = PaletteType.Palette6
            },
            Chart = new Chart
            {
                Background = "transparent"
            }
        }, true);
    }

    public async Task SetDarkMode(bool isDarkMode)
    {
        UserPreferenceDto userPreferenceDto = new UserPreferenceDto
        {
            DarkMode = isDarkMode
        };

        string url = "api/userpreferences";
        var request = new HttpRequestMessage(HttpMethod.Put, url);
        var response = await Http.SendAsync(request);
        if(response.IsSuccessStatusCode){
            await CachedDataService.RefreshUserPreferencesAsync();
            userPreferenceDto = CachedDataService.GetUserPreferences();
        }
    }

}