@using ExpenseTrackerSharedCL.Features.Accounts.Dtos
@using ExpenseTrackerSharedCL.Features.Categories.Dtos
@using ExpenseTrackerSharedCL.Features.Tags.Dtos
@using ExpenseTrackerSharedCL.Features.Transactions.Dtos
@using ExpenseTrackerWasmWebApp.Services
@using MudBlazor
@using System.Net.Http.Headers
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components

@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject CachedDataService DataService
@inject HttpClient Http

@if (TransactionDto is not null)
{
    <MudDialog>
        <TitleContent>
            <MudText Typo="Typo.h5">
                @(TransactionDto.Id == null ? "Add Transaction" : "Edit Transaction")
            </MudText>
        </TitleContent>
        <DialogContent>
            <MudGrid>
                <MudItem xs="12">
                    <MudForm @ref="form">
                        @if (IsReoccuring)
                        {
                            <MudAlert Severity="Severity.Info" Elevation="0" Variant="Variant.Filled" Class="mb-4">
                                You are adding a reoccuring transaction. This transaction will be repeated based on the
                                reoccuring settings.
                            </MudAlert>


                            <MudSelect @bind-Value="TransactionDto.ReoccuranceFrequency" Label="Reoccurance type"
                                Variant="Variant.Outlined" Required="true" RequiredError="Reoccurance type is required!"
                                @bind-Value:after="this.TransactionTypeChanged">
                                @foreach (ReoccuranceFrequencyDto? item in Enum.GetValues(typeof(ReoccuranceFrequencyDto)))
                                {
                                    <MudSelectItem Value="@((ReoccuranceFrequencyDto?)item)">@item</MudSelectItem>
                                }
                            </MudSelect>
                        }
                        <MudSelect @bind-Value="TransactionDto.AccountId" Label="Account" Variant="Variant.Outlined"
                            Required="true" RequiredError="Account is required!">
                            @foreach (var account in AllAccounts)
                            {
                                <MudSelectItem Value="@((int?)account.Id)">
                                    <TextWithIcon Text="@account.Name" Icon="@account.Icon" IconColor="@account.Color" IconSize="Size.Small" TextTypo="Typo.body2"></TextWithIcon>
                                </MudSelectItem>
                            }
                        </MudSelect>
                        <MudSelect @bind-Value="TransactionDto.TransactionType" Label="Type" Variant="Variant.Outlined"
                            Required="true" RequiredError="Type of transaction is required!"
                            @bind-Value:after="this.TransactionTypeChanged">
                            @foreach (TransactionTypeDto? item in Enum.GetValues(typeof(TransactionTypeDto)))
                            {
                                <MudSelectItem Value="@((TransactionTypeDto?)item)">@item</MudSelectItem>
                            }
                        </MudSelect>
                        <MudSelect @bind-Value="TransactionDto.CategoryId" Label="Category" Variant="Variant.Outlined"
                            Required="true" RequiredError="Category is required!">
                            @foreach (var category in AllCategories)
                            {
                                <MudSelectItem Value="@((int?)category.Id)">
                                    <TextWithIcon Text="@category.Name" Icon="@category.Icon" IconColor="@category.Color" IconSize="Size.Small" TextTypo="Typo.body2"></TextWithIcon>
                                </MudSelectItem>
                            }
                        </MudSelect>

                        <MudNumericField @bind-Value="TransactionDto.Amount" Label="Amount" Variant="Variant.Outlined"
                            Required="true" RequiredError="Amount is required!" Format="F2">
                        </MudNumericField>
                        <MudPaper Elevation="0" Class="d-flex gap-2">
                            <MudDatePicker @bind-Date="TransactionDto.Date" Label="Date" Variant="Variant.Outlined"
                                Required="true" RequiredError="Date is required!" />

                            <MudTimePicker @bind-Time="TransactionDto.Time" Label="Time" Variant="Variant.Outlined"
                                AmPm="true" Required="true" RequiredError="Time is required!" />
                        </MudPaper>

                        <MudTextField @bind-Value="TransactionDto.Description" Label="Description"
                            Variant="Variant.Outlined">
                        </MudTextField>

                        <MudPaper Elevation="0" Class="d-flex gap-2 mt-4">
                            <MudAutocomplete T="TagDto" @ref="tagAutocomplete" SearchFunc="@TagSearchFunc"
                                ToStringFunc="@(e => e == null ? null : e.Name)" Label="Add Tags" Variant="Variant.Outlined"
                                ValueChanged="@OnTagSelected" Clearable="true" Class="flex-grow-1">
                                <ItemTemplate>
                                    <MudPaper Elevation="0" Class="d-flex gap-2" Style="background-color:transparent;">
                                        @if (!string.IsNullOrEmpty(context?.Color))
                                        {
                                            <MudPaper Elevation="0" Class="d-flex gap-2" Style="background-color:transparent;">

                                                <MudChip T="TagDto" Style="@($"background-color:{context.Color}; color:white;")"
                                                    Size="Size.Small">@context.Name</MudChip>

                                                <MudIconButton Icon="@Icons.Material.Filled.Close" Size="Size.Small"
                                                    Color="Color.Inherit" Style="color:white;"
                                                    OnClick="@(() => DeleteTag(context))"></MudIconButton>
                                            </MudPaper>
                                        }
                                        else
                                        {
                                            <MudText>@context?.Name</MudText>
                                        }
                                    </MudPaper>
                                </ItemTemplate>
                                <NoItemsTemplate>
                                    <MudText Align="Align.Center" Class="px-4 py-1">
                                        <span>No tags found </span>
                                        @if (!string.IsNullOrWhiteSpace(tagAutocomplete?.Text))
                                        {
                                            <MudPaper Elevation="0" Class="d-flex justify-center mt-2" Style="background-color:transparent;">
                                                <MudButton Variant="Variant.Outlined" OnClick="@CreateNewTag"
                                                    StartIcon="@Icons.Material.Filled.Add">
                                                    Create new tag: <strong>@tagAutocomplete.Text</strong>
                                                </MudButton>
                                            </MudPaper>
                                        }

                                    </MudText>
                                </NoItemsTemplate>
                            </MudAutocomplete>
                        </MudPaper>
                        <MudPaper Elevation="0" Class="d-flex gap-2 mt-2 flex-wrap">
                            @foreach (var tag in SelectedTags)
                            {
                                <MudPaper Elevation="0" Class="flex gap-2">
                                    <MudChip T="TagDto" Style="@($"background-color:{tag.Color}; color:white;")"
                                        Size="Size.Medium">
                                        <MudText Typo="Typo.body2">@tag.Name</MudText>
                                        <MudIconButton Icon="@Icons.Material.Filled.Close" Size="Size.Small"
                                            Color="Color.Inherit" Style="color:white;" OnClick="@(() => RemoveTag(tag))">
                                        </MudIconButton>
                                    </MudChip>
                                </MudPaper>
                            }
                        </MudPaper>
                        

                    </MudForm>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-end gap-2 mt-6">
                    <MudButton OnClick="Cancel" Variant="Variant.Outlined">Cancel</MudButton>
                    <MudButton OnClick="Submit" Color="Color.Primary" Variant="Variant.Filled">Save</MudButton>
                </MudItem>
            </MudGrid>

        </DialogContent>
    </MudDialog>
}
<style>
    .mud-dialog {
        max-width: 600px !important;
        margin-inline: 15px;
    }
</style>

@code {
    [Parameter]
    public TransactionDto? transactionDto { get; set; }

    [Parameter]
    public bool IsReoccuring { get; set; } = false;

    [CascadingParameter]
    public required IMudDialogInstance MudDialog { get; set; }

    private MudForm form = new();
    private MudAutocomplete<TagDto>? tagAutocomplete;
    private TagDto? selectedTag;
    private List<TagDto> SelectedTags = new();
    public TransactionDto TransactionDto = new();

    private List<TagDto> AllTags = new();
    private List<CategoryDto> AllCategories = new();
    private List<AccountDto> AllAccounts = new();

    protected override void OnParametersSet()
    {
        AllTags = DataService.GetTags();
        AllAccounts = DataService.GetAccounts();
        AllCategories = DataService.GetCategories();
        AllCategories = AllCategories.Where(c => c.Type == TransactionDto.TransactionType).ToList();

        if(transactionDto == null)
        {
            transactionDto = new TransactionDto();
            if(AllCategories.Count > 0){
                transactionDto.CategoryId = AllCategories.First().Id;
                transactionDto.TransactionType = AllCategories.First().Type;
                transactionDto.CategoryDto = AllCategories.First();
            }
            if(AllAccounts.Count > 0){
                transactionDto.AccountId = AllAccounts.First().Id;
                transactionDto.AccountDto = AllAccounts.First();
            }
            transactionDto.Date = DateTime.Now.Date;
            transactionDto.Time = DateTime.Now.TimeOfDay;
            transactionDto.Amount = 0;
            transactionDto.IsReoccuring = IsReoccuring;
        }
        base.OnParametersSet();
    }


    private async Task<IEnumerable<TagDto>> TagSearchFunc(string searchText, CancellationToken cancellationToken)
    {
        if (string.IsNullOrWhiteSpace(searchText))
        {
            var results = new List<TagDto>(AllTags);
            results.RemoveAll(t => SelectedTags.Any(st => st.Id == t.Id));
            return results;
        }

        var filteredTags = AllTags
        .Where(t => t.Name!.Contains(searchText, StringComparison.OrdinalIgnoreCase))
        .Where(t => !SelectedTags.Any(st => st.Id == t.Id))
        .ToList();

        return await Task.FromResult(filteredTags);
    }

    private async Task OnTagSelected(TagDto tag)
    {
        if (tag != null && !SelectedTags.Any(t => t.Id == tag.Id))
        {
            SelectedTags.Add(tag);
            TransactionDto.TagIds.Add((int)tag.Id!);
            selectedTag = null;
            if (tagAutocomplete != null)
            {
                await tagAutocomplete.ResetAsync();
            }
        }
    }

    private async Task CreateNewTag()
    {
        if (string.IsNullOrWhiteSpace(tagAutocomplete?.Text))
            return;

        try
        {
            var tagDto = new TagDto();
            tagDto.Name = tagAutocomplete.Text;
            tagDto.Color = "#9E9E9E";

            string url = $"api/tags";
            var request = new HttpRequestMessage(HttpMethod.Post, url);
            request.Content = JsonContent.Create(tagDto);
            request.Content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
            var response = await Http.SendAsync(request);

            if(!response.IsSuccessStatusCode){
                Snackbar.Add($"Error creating tag!", Severity.Error);
                return;
            }
            
            AllTags.Add(tagDto);
            SelectedTags.Add(tagDto);
            TransactionDto.TagIds.Add((int)tagDto.Id!);
            selectedTag = null;
            if (tagAutocomplete != null)
            {
                await tagAutocomplete.ResetAsync();
            }
            Snackbar.Add($"Tag '{tagDto.Name}' created!", Severity.Success);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
            Snackbar.Add($"Error creating tag!", Severity.Error);
        }
    }

    private void RemoveTag(TagDto tag)
    {
        SelectedTags.Remove(tag);
        TransactionDto.TagIds.Remove((int)tag.Id!);
    }

    private async Task DeleteTag(TagDto tag)
    {
        
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var parameters = new DialogParameters<ConfirmDialog>
        {
            { x => x.Message, "Are you sure you want to delete the tag? " }
        };

        var dialog = await DialogService.ShowAsync<ConfirmDialog>(title: "Warning", parameters, options);
        var result = await dialog.Result;
        if (!result!.Canceled)
        {
            try
            {
                string url = $"api/tags/{tag.Id}";
                var request = new HttpRequestMessage(HttpMethod.Delete, url);
                var response = await Http.SendAsync(request);
                if(response.IsSuccessStatusCode)
                {
                    AllTags.RemoveAll(t => t.Id == tag.Id);
                    RemoveTag(tag);
                    Snackbar.Add("Tag deleted successfully!", Severity.Success);
                    if (tagAutocomplete != null)
                    {
                        await tagAutocomplete.ResetAsync();
                    }
                }
                else
                {
                    Snackbar.Add("Error deleting tag!", Severity.Error);
                }
            }
            catch(Exception ex)
            {
                Console.WriteLine(ex.Message);
                Snackbar.Add("Error deleting tag!", Severity.Error);
            }
        }
    }

    private async Task Submit()
    {
        await form.Validate();
        if (!form.IsValid)
        {
            StateHasChanged();
            return;
        }
        TransactionDto.TagIds = SelectedTags.Select(t => (int)t.Id!).ToList();
        if(TransactionDto.Date != null){
            TransactionDto.Date = new DateTime(TransactionDto.Date.Value.Year, TransactionDto.Date.Value.Month, TransactionDto.Date.Value.Day,0, 0, 0);
        }

        try
        {
            HttpResponseMessage? response;
            if(TransactionDto.Id == null)
            {
                string url = $"api/transactions";
                var request = new HttpRequestMessage(HttpMethod.Post, url);
                request.Content = JsonContent.Create(TransactionDto);
                request.Content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
                response = await Http.SendAsync(request);
            }
            else{
                string url = $"api/transactions/{TransactionDto.Id}";
                var request = new HttpRequestMessage(HttpMethod.Put, url);
                request.Content = JsonContent.Create(TransactionDto);
                request.Content.Headers.ContentType = new MediaTypeHeaderValue("application/json");
                response = await Http.SendAsync(request);
            }

            if(response.IsSuccessStatusCode){
                Snackbar.Add("Transaction saved successfully!", Severity.Success);
                MudDialog.Close(DialogResult.Ok(result: true));
            }
            else
            {
                Snackbar.Add("Error saving transaction!", Severity.Error);
                MudDialog.Close();
                return;
            }
        }
        catch (Exception ex)
        {
            Snackbar.Add($"An error occurred: {ex.Message}", Severity.Error);
            MudDialog.Close();
            return;
        }
    }

    private void Cancel() => MudDialog.Cancel();

    private async Task TransactionTypeChanged()
    {
        AllCategories = DataService.GetCategories();
        AllCategories = AllCategories.Where(c => c.Type == TransactionDto.TransactionType).ToList();

        if (AllCategories.Count > 0)
        {
            TransactionDto.CategoryId = AllCategories.First().Id;
            TransactionDto.CategoryDto = AllCategories.First();
        }
        else{
            TransactionDto.CategoryId = null;
        }

    }

}