@page "/budgets"
@attribute [Authorize]
@rendermode InteractiveWebAssembly

@implements IDisposable
@using ExpenseTrackerSharedCL.Features.Accounts.Dtos
@using ExpenseTrackerSharedCL.Features.Budgets.Dtos
@using ExpenseTrackerSharedCL.Features.Budgets.Services
@using ExpenseTrackerSharedCL.Features.Categories.Dtos
@using Microsoft.AspNetCore.Authorization
@using MudBlazor
@using Microsoft.AspNetCore.Components.Web
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components.Titles
@using ExpenseTrackerWasmWebApp.Features.Budgets.Services
@inject IDialogService DialogService
@inject ISnackbar Snackbar
@inject IBudgetService BudgetService
@inject NavigationManager NavigationManager
@inject PersistentComponentState ApplicationState

<PageTitle>Budgets</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="d-flex flex-column gap-5 mt-6">

    <MudStack Row Justify="Justify.SpaceBetween" AlignItems="AlignItems.Center">
        <MainPageTitle Title="Budgets"></MainPageTitle>
        <MudButton Class="d-none d-md-flex" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => OpenBudgetSheetAsync(null))" StartIcon="@Icons.Material.Filled.Add">Add</MudButton>
        <FabButton Class="d-flex d-md-none" Text="Add" IconClass="@Icons.Material.Filled.Add" OnClick="@(() => OpenBudgetSheetAsync(null))" />
    </MudStack>
    <MudGrid>
        <MudItem xs="12">
            <MudTextField @bind-Value="searchString"
                          Placeholder="Search budgets..."
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Variant="Variant.Outlined"
                          Immediate="true"/>
        </MudItem>
    </MudGrid>

    @if (AllBudgets == null || AllBudgets.Count == 0)
    {
        <MudText>No budgets created yet!</MudText>
    }
    else if (FilteredBudgets == null || FilteredBudgets.Count == 0)
    {
        <MudText>No budgets found!</MudText>
    }
    else
    {

        <MudGrid>
            @foreach (var budget in FilteredBudgets)
            {
                <MudItem xs="12" md="6">
                    <MudCard Elevation="1">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.caption">@budget.Name</MudText>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomRight" TransformOrigin="Origin.TopRight" Dense="false">
                                    <MudMenuItem Icon="@Icons.Material.Filled.Edit" OnClick="@(() => OpenBudgetSheetAsync(budget))">
                                        Edit
                                    </MudMenuItem>
                                    <MudMenuItem Icon="@Icons.Material.Filled.Delete" IconColor="Color.Error" OnClick="@(() => ConfirmDelete((int)budget.Id!))">
                                        <MudText Color="Color.Error">Delete</MudText>
                                    </MudMenuItem>
                                </MudMenu>
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudStack>
                                <MudProgressLinear Value="@(budget.Progress)" Color="@budget.ProgressColor"></MudProgressLinear>
                                
                                <MudStack Row AlignItems="AlignItems.Center">
                                    <MudText >Spent: </MudText>
                                    <MudText Typo="Typo.caption">$@budget.Spent.ToString("F2") / $@budget.Amount?.ToString("F2")</MudText>
                                </MudStack>
                            </MudStack>
                        </MudCardContent>
                    </MudCard>
                </MudItem>
            }
        </MudGrid>
    }
</MudContainer>

<MudDrawer @bind-Open="@_isSideDrawerOpen"
           Fixed="true"
           Anchor="Anchor.End"
           Variant="@DrawerVariant.Temporary"
           Width="min(100vw, 400px)"
           Elevation="2">

    <div class="px-6 mt-6">
        <BudgetEditor Close="CloseDrawer" OnBudgetSaved="CloseDrawerRefresh" BudgetDto="@BudgetToEdit" />
    </div>


</MudDrawer>


    @code {

    public List<BudgetWithProgressDto> AllBudgets { get; set; } = [];

    private bool _isSideDrawerOpen = false;

    private void CloseDrawer() => _isSideDrawerOpen = false;

    private BudgetDto BudgetToEdit = new BudgetDto();

    public string searchString = "";

    public PersistingComponentStateSubscription persistingSubscription;


    public List<BudgetWithProgressDto> FilteredBudgets
    {
        get
        {
            return AllBudgets
            .Where(c => (string.IsNullOrWhiteSpace(searchString) || c.Name!.Contains(searchString, StringComparison.OrdinalIgnoreCase)))
            .ToList();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (!ApplicationState.TryTakeFromJson<List<BudgetWithProgressDto>>(nameof(AllBudgets), out var budgets))
        {
            await RefreshPage();
        }
        else
        {
            AllBudgets = budgets!;
        }

        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistBudgets);
    }

    private Task PersistBudgets()
    {
        ApplicationState.PersistAsJson(nameof(AllBudgets), AllBudgets);
        return Task.CompletedTask;
    }
    
    private async Task OpenBudgetSheetAsync(BudgetWithProgressDto? budget)
    {
        var budgetDto = new BudgetDto();
        if (budget != null)
        {
            budgetDto = new BudgetDto
            {
                Id = budget.Id,
                Name = budget.Name,
                Amount = budget.Amount,
                BudgetType = budget.BudgetType,
                Description = budget.Description,
                Categories = budget.BudgetCategories.Select(c => c.CategoryId).ToList(),
                Accounts = budget.BudgetAccounts.Select(a => a.AccountId).ToList()
            };
        }

        BudgetToEdit = budgetDto;
        _isSideDrawerOpen = true;
    }

    private async Task CloseDrawerRefresh()
    {
        CloseDrawer();
        await RefreshPage();
    }

    private async Task ConfirmDelete(int budget_id)
    {
        bool? result = await DialogService.ShowMessageBox("Warning", "Are you sure you want to delete the budget? ", "Confirm", "Cancel");
        if (result == true)
        {
            var deleteResult = await BudgetService.DeleteBudgetAsync(budget_id);
            if (deleteResult.IsSuccess)
            {
                Snackbar.Add("Budget successfully deleted!", Severity.Success);
                await RefreshPage();
            }
            else if (deleteResult.Reason == FailureReason.Unauthorized)
            {
                Snackbar.Add("Session expired. Please log in again.", Severity.Error);
                NavigationManager.NavigateTo("login");
            }
            else
            {
                Snackbar.Add(deleteResult.ErrorMessage ?? "Error deleting budget!", Severity.Error);
            }
        }
    }

    async Task RefreshPage()
    {
        var result = await BudgetService.GetBudgetsAsync();
        if (result.IsSuccess)
        {
            AllBudgets = result.Data;
        }
        else if (result.Reason == FailureReason.Unauthorized)
        {
            Snackbar.Add("Session expired. Please log in again.", Severity.Error);
            NavigationManager.NavigateTo("login");
        }
        else
        {
            Snackbar.Add(result.ErrorMessage ?? "Error fetching budgets!", Severity.Error);
        }
    }

    public void Dispose()
    {
        persistingSubscription.Dispose();
    }
}
