@page "/"
@attribute [Authorize]
@layout Layout
@rendermode InteractiveWebAssembly
@using ExpenseTrackerSharedCL.Features.Dashboard.Dtos
@using ExpenseTrackerSharedCL.Features.Transactions.Dtos
@using ExpenseTrackerWasmWebApp.Features.Dashboard.Services
@using ExpenseTrackerWasmWebApp.Features.SharedKernel
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Web
@using MudBlazor
@using ExpenseTrackerWasmWebApp.Features.SharedKernel.Components
@using ApexCharts
@inject DashboardService DashboardService
@inject ISnackbar Snackbar
@inject NavigationManager NavigationManager


<PageTitle>Dashboard</PageTitle>

@if (loading)
{
    <div class="d-flex justify-center align-center" style="height: 80vh;">
        <MudProgressCircular Indeterminate="true" Size="MudBlazor.Size.Large" />
    </div>
}
else
{
    <MudContainer>
        <MudPaper Class="pa-6 mt-6" Elevation="0">
            <MudGrid>
                <MudItem xs="12" md="4">
                    <MudPaper Elevation="5" Class="pa-4 d-flex flex-column gap-4">
                        <MudText Typo="Typo.h6">
                            Balance
                        </MudText>
                        <AmountDisplay Amount="@DashboardSummary.Balance" FontSize="Typo.h4" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudPaper Elevation="5" Class="pa-4 d-flex flex-column gap-4">
                        <MudText Typo="Typo.h6">
                            Income this month
                        </MudText>
                        <AmountDisplay Amount="@DashboardSummary.IncomeThisMonth" FontSize="Typo.h4" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="4">
                    <MudPaper Elevation="5" Class="pa-4 d-flex flex-column gap-4">
                        <MudText Typo="Typo.h6">
                            Expenses this month
                        </MudText>
                        <AmountDisplay Amount="@DashboardSummary.ExpensesThisMonth" FontSize="Typo.h4" />
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="6" Class="d-flex">
                    <MudPaper Elevation="5" Class="pa-4 flex-grow-1">
                        <MudText Typo="Typo.h6">
                            Expenses and Income last 6 months
                        </MudText>
                        <ApexChart TItem="CumulativeData">

                            <ApexPointSeries TItem="CumulativeData" Items="DashboardSummary.CumulativeIncomePerMonth" Name="Income"
                                XValue="@(e => e.TimePeriod)" YValue="@(e => e.Amount)"
                                SeriesType="SeriesType.Bar" />

                            <ApexPointSeries TItem="CumulativeData" Items="DashboardSummary.CumulativeExpensesPerMonth" Name="Expenses"
                                XValue="@(e => e.TimePeriod)" YValue="@(e => e.Amount)"
                                SeriesType="SeriesType.Bar" />
                        </ApexChart>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12" md="6" Class="d-flex">
                    <MudPaper Elevation="5" Class="pa-4 flex-grow-1">
                        <MudText Typo="Typo.h6">
                            Top Expenses last 6 months
                        </MudText>
                        <ApexChart TItem="CategoryData">
                            <ApexPointSeries TItem="CategoryData" Items="DashboardSummary.TopExpenseCategories" SeriesType="SeriesType.Donut"
                                Name="Top Expenses by Category" XValue="@(e => e.Category)" YValue="@(e => e.Amount)">
                            </ApexPointSeries>
                        </ApexChart>
                    </MudPaper>
                </MudItem>
                <MudItem xs="12">
                    <MudPaper Elevation="5" Class="pa-4">
                        <MudText Typo="Typo.h6">
                            Latest transactions
                        </MudText>
                        <MudDataGrid T="TransactionDto" Items="@DashboardSummary.RecentTransactions" Class="mt-4">
                            <Columns>
                                <TemplateColumn Title="Account">
                                    <CellTemplate>
                                        <MudPaper Elevation="0" Class="d-flex gap-2 align-center">
                                            <TextWithIcon Text="@context.Item.AccountDto!.Name" Icon="@context.Item.AccountDto!.Icon" IconColor="@context.Item.AccountDto!.Color" IconSize="MudBlazor.Size.Small" TextTypo="Typo.body2"></TextWithIcon>
                                        </MudPaper>
                                    </CellTemplate>
                                </TemplateColumn>
                                <TemplateColumn Title="Category">
                                    <CellTemplate>
                                        <TextWithIcon Text="@context.Item.CategoryDto!.Name" Icon="@context.Item.CategoryDto!.Icon" IconColor="@context.Item.CategoryDto!.Color" IconSize="MudBlazor.Size.Small" TextTypo="Typo.body2"></TextWithIcon>
                                    </CellTemplate>
                                </TemplateColumn>
                                <PropertyColumn Property="t => t.Date" Format="dd/MM/yyyy" Title="Date"></PropertyColumn>
                                <TemplateColumn Title="Amount">
                                    <CellTemplate>
                                        <AmountDisplay Amount="(decimal)context.Item.Amount!" />
                                    </CellTemplate>
                                </TemplateColumn>
                            </Columns>
                        </MudDataGrid>
                    </MudPaper>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudContainer>

    <DynamicContent>
        <MobileContent>
            <AddTransactionFab OnClose="@(() => RefreshPage(false))" />
        </MobileContent>
    </DynamicContent>
}
@code {

    bool loading = true;
    private DashboardSummaryDto DashboardSummary = new DashboardSummaryDto();
    protected override async Task OnInitializedAsync()
    {
        await RefreshPage();
        loading = false;
    }

    private async Task RefreshPage(bool showMessage = false)
    {

        var result = await DashboardService.GetDashboardSummaryAsync();
        if(result.IsSuccess)
        {
            DashboardSummary = result.Data!;
            return;
        }
        
        if (result.Reason == FailureReason.Unauthorized)
        {
            Snackbar.Add("Session expired. Please log in again.", Severity.Error);
            NavigationManager.NavigateTo("login");
        }
        else
        {
            Snackbar.Add("Failed to load dashboard data. Please try again.", Severity.Error);
        }

    }
}